{% load staticfiles %}

<!DOCTYPE html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Sistema Integral de Emergencias Médicas"/>
		<!-- <meta name="author" content=""/> -->
		<title>{% block title %}SIEM - Sistema Integral de Emergencias Médicas{% endblock title %}</title>

		<!-- Bootstrap core CSS -->
		<link href='{% static "css/bootstrap-3.3.7.min.css" %}' rel="stylesheet"/>
		<!-- Bootstrap theme -->
		<link href='{% static "css/bootstrap-theme-3.3.7.min.css" %}' rel="stylesheet"/>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href='{% static "css/ie10-viewport-bug-workaround.css" %}' rel="stylesheet"/>

		<!-- Custom styles -->
		<link href='{% static "css/main.css" %}' rel="stylesheet"/>

		<link rel="icon" href='{% static "img/SIEM_icon.png" %}'>

		<!-- Extra styles -->
		{% block extra-CSS %}{% endblock extra-CSS %}
	</head>
	<body>
		<nav class="navbar navbar-siem navbar-fixed-top">
			<div id="nav_header-container" class="container-fluid navbar-container">
				 <div class="navbar-header"> 
					<a class="navbar-brand" href="{% url 'home' %}">
						<img class="logo" alt="SIEM" border="0" src='{% static "img/SIEM_logo_reducido_blanca.png" %}'>
					</a>
					<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="onDesplegarMenuClick()">&#9776;</a>
				 </div> 
				<ul class="nav navbar-nav" id="myNavBar">
					{% if user.groups.all.0.name == 'directivos' %}
					<li><a href="{% url 'rules' %}" id="reglas_nav">Reglas</a></li>
					<!-- <li><a href="/moviles" id="moviles_nav">Móviles</a></li> -->
					<li><a href="{% url 'users' %}" id="users_nav">Usuarios</a></li>
					<li><a href="{% url 'analytics' %}" id="reportes_nav">Reportes</a></li>
					<li><a href="{% url 'ayuda' %}" id="ayuda_nav">Ayuda</a></li>
					{% elif user.groups.all.0.name == 'supervisores'%}
					<li><a href="{% url 'auxilios' %}" id="auxilios_nav">Auxilios</a></li>
					<li><a href="{% url 'medicos' %}" id="medicos_nav">Médicos</a></li>
					<li><a href="{% url 'users' %}" id="users_nav">Usuarios</a></li>
					{% else %}{% comment %}OPERADOR{% endcomment %}
					<li><a href="{% url 'auxilios' %}" id="auxilios_nav">Auxilios</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" data-toggle="tooltip" title="{{ user.get_full_name }}"><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a></li>
					<li><a href="{% url 'logout' %}">Salir</a></li>
				</ul>
			</div>
		</nav>
		<div class="container" style="margin-top:60px">
			{% include 'messages.html' %}
			{% block content %}{% endblock content %}
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src='{% static "js/jquery-3.2.1.slim.min.js" %}' type="text/javascript"></script>
		<script src='{% static "js/jquery-3.1.1.min.js" %}' type="text/javascript"></script>
		<script src='{% static "js/bootstrap-3.3.7.min.js" %}' type="text/javascript"></script>
		<!-- <script src='{% static "js/bootstrap.min.js" %}'></script> -->
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src='{% static "js/ie10-viewport-bug-workaround.js" %}'></script>
		<script type="text/javascript">
			function onDesplegarMenuClick() {
				var x = document.getElementById("myNavBar");
				if (x.className === "nav navbar-nav") {
					x.className += " responsive";
				} else {
					x.className = "nav navbar-nav";
				}
			}
		</script>
        <!-- Extra JavaScript -->
		{% block extra-JS %}{% endblock extra-JS %}
	</body>
</html>