<!-- MAPA DE CALOR OK  -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
      
      #map {
        height: 100%;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    
    <div id="map"></div>
    {% include 'base/js.html' %}

    {% block extra-JS %}
    <script>

      $(document).ready(function(){
        
        // OBTENGO LOS DATOS A TRAVES DE LA API
        var endpoint4 = '/api/analytics/data_Localizacion_aux/'
        var dataLongitudes = []
        var dataLatitudes = []

        $.ajax({
            method: "GET",
            url: endpoint4,
            success: function(data){
                dataLongitudes = data.logitudes,
                dataLatitudes = data.latitudes
                // console.log(dataLongitudes)
                // console.log(dataLatitudes)
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
      })
  
      var map, heatmap;

      function initMap() {
        // seteo el zoom, localizacion central y el tipo de mapa, puede ser satelital
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: -34.546678, lng: -58.647251},
          mapTypeId: 'roadmap'//vista mapa
        });

        // obtengo los datos
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });

        // el gradiente por defecto es verde y se confunde con las zonas de cesped
        // lo cambio a azul para que sea mas representativo
        // las zonas en rojo serian las que tienen mas ocurrencias
        changeGradient()
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      // Datos de los auxilios (por ahora estan simulados)
      // Aca tendria que darle formato a los datos obtenidos anterioremente con la API
      function getPoints() {
        return [
          new google.maps.LatLng(-34.614671,-58.437786), new google.maps.LatLng(-34.573147,-58.376673), new google.maps.LatLng(-34.624805,-58.373757), new google.maps.LatLng(-34.572827,-58.384077), new google.maps.LatLng(-34.61701,-58.433685), new google.maps.LatLng(-34.586765,-58.411266), new google.maps.LatLng(-34.600173,-58.4461), new google.maps.LatLng(-34.576018,-58.434672),
        ];
      }
    </script>

    {% endblock extra-JS %}

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQH_SWC8aU8EhbBXSYsVac_b4-G0DoPcQ&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>