{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='{% static "css/mapa.css" %}' rel="stylesheet"/>
  </head>
  <body>
    <div id="map"></div>
    {% include 'base/js.html' %}

    {% block extra-JS %}
    <!-- <script src='{% static "js/django-cookie-handler.js" %}' type="text/javascript"></script> -->
    <script src='{% static "js/utils.js" %}' type="text/javascript"></script>
    <script>
      var map, heatmap, bounds;
      var data_ubicaciones = [];

      function mostrarSolicitudesMapa() {
        bounds = new google.maps.LatLngBounds();
        var map_options = {
          mapTypeId: 'roadmap'//vista mapa
        }
        map = new google.maps.Map(document.getElementById('map'), map_options);


        // // obtengo los datos
        // heatmap = new google.maps.visualization.HeatmapLayer({
        //   data: getPoints(),
        //   map: map
        // });

        loadSolicitudes();
      }


      async function loadSolicitudes() {        
        const api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/solicitudes/'; //TODO(fcorrales): Ver si hay alguna otra forma de hacer el append de la api de medicos
        await fetch(api_url, getAuthorizedFetchOption()).then(response => {
          return checkStatus(response);
        }).then(response => {
          return response.json();
        }).then(jsonData => {
          jsonData.results.map((solicitud) => {
            if (solicitud.latitud_gps !== null && solicitud.longitud_gps !== null) {
              var pos = new google.maps.LatLng(solicitud.latitud_gps, solicitud.longitud_gps);
              bounds.extend(pos);
              data_ubicaciones.push(pos);
            }
          });
        }).catch(error => {
          console.log(`Error al realizar fetch a ${api_url}: ${error.message}`);
        });
        marcarSolicitudesMapa(data_ubicaciones);
        changeGradient();
        map.fitBounds(bounds);
      }

      // el gradiente por defecto es verde y se confunde con las zonas de cesped
      // lo cambio a azul para que sea mas representativo
      // las zonas en rojo serian las que tienen mas ocurrencias
      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }


      function marcarSolicitudesMapa(solicitudes) {
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: solicitudes,
          map: map
        });
      }
    </script>

    {% endblock extra-JS %}

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQH_SWC8aU8EhbBXSYsVac_b4-G0DoPcQ&libraries=visualization&callback=mostrarSolicitudesMapa">
    </script>
  </body>
</html>