{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-6' align="center">
            <h3 align="center">Origen de solicitudes</h3>
            <canvas id="grafico2" width="600" height="400"></canvas>
        </div>
        <div class='col-sm-6' align="center">
            <h3 align="center">Auxilios solicitados</h3>
            <canvas id="grafico3" width="600" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
