{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script> 
    loadAuxilios();

    function saveCategoriaAuxilio(categoria_auxilio, categorias_map) {
        if (categoria_auxilio !== null) {       
            if (categorias_map[categoria_auxilio.descripcion] === undefined) {
                var cat = {
                    descripcion: categoria_auxilio.descripcion,
                    prioridad: categoria_auxilio.prioridad,
                    color: categoria_auxilio.color,
                    cantidad: 0
                };
                categorias_map[categoria_auxilio.descripcion] = cat;                   
            } else {
                categorias_map[categoria_auxilio.descripcion].cantidad++;
            }
        }
    }

    function saveOrigenSolicitud(solicitud, origen_solicitudes_map) {
        if (solicitud !== null) {            
            if (origen_solicitudes_map[solicitud.origen] === undefined) {
                var origen = {
                    descripcion: solicitud.origen,
                    color: solicitud.origen == 'Web' ? '#ff9f40' : solicitud.origen == 'Agente virtual' ? '#99ff99' : '#9966ff',
                    cantidad: 0
                };
                origen_solicitudes_map[solicitud.origen] = origen;                    
            } else {
                origen_solicitudes_map[solicitud.origen].cantidad++;
            }
        }
    }

    function saveFechaSolicitud(solicitud, fecha_solicitudes_map) {
        if (solicitud !== null) {        
            var fecha_solicitud = moment(solicitud.fecha).format('DD/MM/YY');
            if (fecha_solicitudes_map[fecha_solicitud] === undefined) {
                var fecha = {
                    descripcion: fecha_solicitud,
                    cantidad: 0
                };
                fecha_solicitudes_map[fecha_solicitud] = fecha;                    
            } else {
                fecha_solicitudes_map[fecha_solicitud].cantidad++;
            }
        }
    }

    async function loadAuxilios() {
        var categorias = {};  
        var origen_solicitudes = {}; 
        var fecha_solicitudes = {}; 
        const api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/auxilios/'; //TODO(fcorrales): Ver si hay alguna otra forma de hacer el append de la api de medicos
        await fetch(api_url, getAuthorizedFetchOption()).then(response => {
            return checkStatus(response);
        }).then(response => {
            return response.json();
        }).then(jsonData => {
          jsonData.map((auxilio) => {     
            saveCategoriaAuxilio(auxilio.categoria, categorias);
            saveOrigenSolicitud(auxilio.solicitud, origen_solicitudes);
            saveFechaSolicitud(auxilio.solicitud, fecha_solicitudes);
          });
        }).catch(error => {
          console.log(`Error al realizar fetch a ${api_url}: ${error.message}`);
        });
        marcarClasificacionAuxiliosGrafico(categorias);
        marcarOrigenSolicitudesGrafico(origen_solicitudes);
        marcarFechaSolicitudesGrafico(fecha_solicitudes);
    }

    function mostrarMensajeGraficoSinInformacion(elemento) {
        var canvas = document.getElementById(elemento);
        var ctx = canvas.getContext("2d");
        ctx.font = "14px Arial";
        ctx.textAlign = "center";
        ctx.fillText("No hay información para mostrar", canvas.width/2, canvas.height/2); 
    }

    function marcarClasificacionAuxiliosGrafico(categorias) {
        var elemento = "grafico1";
        if (!jQuery.isEmptyObject(categorias)) {
            var data = [];
            var label = [];
            var color = [];
            for (var key in categorias) {
                label.push(categorias[key].descripcion);
                data.push(categorias[key].cantidad);
                color.push(categorias[key].color);
            }
            setChart(document.getElementById(elemento), 'doughnut', label, data, color, null);
        } else {
            mostrarMensajeGraficoSinInformacion(elemento);
        }
    }

    function marcarOrigenSolicitudesGrafico(origen_solicitudes) {
        var elemento = "grafico2";
        if (!jQuery.isEmptyObject(origen_solicitudes)) {
            var data = [];
            var label = [];
            var color = [];
            for (var key in origen_solicitudes) {
                label.push(origen_solicitudes[key].descripcion);
                data.push(origen_solicitudes[key].cantidad);
                color.push(origen_solicitudes[key].color);
            }

            var options = {
                legend: {
                "display": false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            };
                
            setChart(document.getElementById(elemento), 'bar', label, data, color, options);
        } else {
            mostrarMensajeGraficoSinInformacion(elemento);
        }
    }

    function marcarFechaSolicitudesGrafico(fecha_solicitudes) {
        var elemento = "grafico3";
        if (!jQuery.isEmptyObject(fecha_solicitudes)) {
            var data = [];
            var label = [];
            var color = [];
            for (var key in fecha_solicitudes) {
                label.push(fecha_solicitudes[key].descripcion);
                data.push(fecha_solicitudes[key].cantidad);
            }

            var options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            };
            setChart(document.getElementById(elemento), 'line', label, data, '#4bc0c0', options);   
        } else {
            mostrarMensajeGraficoSinInformacion(elemento);
        }
    }

    function setChart(ctx, type, label, data, color, options) {
        var grafico = new Chart(ctx, {
            type: type,
            data: {
                labels: label,
                datasets: [{
                    label: 'Cantidad',
                    data: data,
                    backgroundColor: color,
                    borderColor: color,
                    borderWidth: 1
                }]
            },
            options: options
        });
    }

</script>

{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-4' align="center">
            <h3 align="center">Clasificación de auxilios</h3>
            <canvas id="grafico1" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-4' align="center">
            <h3 align="center">Origen de solicitudes</h3>
            <canvas id="grafico2" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-4' align="center">
            <h3 align="center">Auxilios solicitados</h3>
            <canvas id="grafico3" width="400" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
