{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-12' align="center">
            <h3 align="center">Motivos de solicitudes</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico1()">Exportar a excel</button> -->
            <canvas id="grafico1" width="1200" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
