{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-4' align="center">
            <h3 align="center">Auxilios cancelados</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico6()">Exportar a excel</button> -->
            <canvas id="grafico6" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-4' align="center">
            <h3 align="center">Tiempo promedio en cola</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico7()">Exportar a excel</button> -->
            <canvas id="grafico7" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-4' align="center">
            <h3 align="center">Tiempo promedio de resolución</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico8()">Exportar a excel</button> -->
            <canvas id="grafico8" width="400" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
