{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-6' align="center">
            <h3 align="center">Clasificación de auxilios</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico4()">Exportar a excel</button> -->
            <canvas id="grafico4" width="600" height="400"></canvas>
        </div>
        <div class='col-sm-6' align="center">
            <h3 align="center">Categorización de auxilios</h3>
            <!-- <button type="submit" name="exportar_excel" class="btn-xs btn-success pull-right" onclick="exportar_grafico5()">Exportar a excel</button> -->
            <canvas id="grafico5" width="600" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
