{% extends 'base_analytics.html' %}
{% load staticfiles %}

{% block extra-JS %}
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script>
    loadAuxilios();

    function saveEstadosAuxilio(estados, categorias_map) {
        if (!jQuery.isEmptyObject(estados)) {
            var fecha_pendiente = null;
            var fecha_en_curso = null;
            for (var estado in estados) {
                fecha = moment(estados[estado].fecha).format('DD/MM/YY HH:mm:ss');
                if (estados[estado].estado === "Pendiente") {
                    fecha_pendiente = fecha;
                } else if (estados[estado].estado === "En curso") {
                    fecha_en_curso = fecha;
                }
            } 
            if (fecha_pendiente !== null && fecha_en_curso !== null) {
                // console.log("Flag");
            }
        }
    }

    async function loadAuxilios() {      
        var categorias = {};  
        var origen_solicitudes = {};
        var fecha_solicitudes = {}; 
        const api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/auxilios/'; //TODO(fcorrales): Ver si hay alguna otra forma de hacer el append de la api de medicos
        await fetch(api_url, getAuthorizedFetchOption()).then(response => {
            return checkStatus(response);
        }).then(response => {
            return response.json();
        }).then(jsonData => {
          jsonData.results.map((auxilio) => {      
            saveEstadosAuxilio(auxilio.estados, categorias);
            // saveOrigenSolicitud(auxilio.solicitud, origen_solicitudes);
            // saveFechaSolicitud(auxilio.solicitud, fecha_solicitudes);
          });
        }).catch(error => {
          console.log(`Error al realizar fetch a ${api_url}: ${error.message}`);
        });
        // marcarClasificacionAuxiliosGrafico(categorias);
        // marcarOrigenSolicitudesGrafico(origen_solicitudes);
        // marcarFechaSolicitudesGrafico(fecha_solicitudes);
    }

    // LLAMO A LAS APIS Y GUARDO LOS DATOS, LUEGO SE MUESTRAN EN LOS GRAFICOS

    var endpoint3 = '/api/analytics/data_Tiem_espera_cola/'
    var defaultData3 = []
    var labels3 = [];

    $.ajax({
        method: "GET",
        url: endpoint3,
        success: function(data){
            labels3 = data.labels
            defaultData3 = data.default
            setChartReport_3()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    var endpoint3_2 = '/api/analytics/data_Tiem_demora_ate/'
    var defaultData3_2 = []
    var labels3_2 = [];

    $.ajax({
        method: "GET",
        url: endpoint3_2,
        success: function(data){
            labels3_2 = data.labels
            defaultData3_2 = data.default
            setChartReport_3()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    // FUNCION QUE ARMA LOS GRAFICOS
    function setChartReport_3(){
        var ctx = document.getElementById("grafico3_1");
        var ctx2 = document.getElementById("grafico3_2");

        //GRAFICO 1 
        // PIE CHART
        // TIPOS DE AUXILIOS
        var grafico = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: labels3,
            datasets: [{
                label: 'Minutos',
                data: defaultData3,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(153, 255, 153, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(153, 255, 153, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(255, 159, 64, 0.6)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
            "display": false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

        // GRAFICO 2
        // BAR CHART
        // ORIGEN DE SOLICITUDES
        var grafico = new Chart(ctx2, {
            type: 'horizontalBar',
            data: {
                labels: labels3_2,
                datasets: [{
                    label: 'Minutos',
                    data: defaultData3_2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(153, 255, 153, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(153, 255, 153, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                "display": false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

    }
</script>

{% endblock extra-JS %}

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-6' align="center">
            <h3 align="center">Tiempo promedio en cola</h3>
            <canvas id="grafico3_1" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6' align="center">
            <h3 align="center">Tiempo promedio de resolución</h3>
            <canvas id="grafico3_2" width="400" height="400"></canvas>
        </div>
    </div>
</div> 

{% endblock content %}
