{% extends "baseForm.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block content %}

<div class="container col-md-8 col-md-offset-2">
	<div class="body-header">
		<h1 class="text-center font-bold">Gestión de reglas</h1>
	</div>

	<div class="panel-body" style="padding-right: 0px">
		<form class="form-inline" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<button type="submit" name="drools" class="btn btn-success pull-right">Generar archivo de reglas</button>
		</form>
	</div>

	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active"><a href="#tab-categorias" aria-controls="Categorías" role="tab" data-toggle="tab">Categorías</a></li>
		<li role="presentation"><a href="#tab-ajustes" aria-controls="Categorías" role="tab" data-toggle="tab">Ajustes</a></li>		
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel-categorias" class="tab-pane fade in active" id="tab-categorias">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href="#reglas-categorias" aria-controls="Categorías" role="tab" data-toggle="tab">Categorías</a></li>
				<li role="presentation"><a href="#reglas-fdpc" aria-controls="Factores de precategorización" role="tab" data-toggle="tab">Factores de precategorización</a></li>
				<li role="presentation"><a href="#reglas-rdpc" aria-controls="Reglas de precategorización" role="tab" data-toggle="tab">Reglas de precategorización</a></li>
			</ul>
			<div class="tab-content">
				<!-- Tab categorías -->
				<div role="tabpanel-categorias" class="tab-pane fade in active" id="reglas-categorias">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Categorías
								<button type="button" id="add_category_btn" class="btn btn-md btn-success pull-right" title='Crear categoría' data-toggle="modal" data-target="#AddCategoryModal"><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="5%">Nro</th>
									<th width="45%">Descripción</th>
									<th width="25%">Prioridad</th>
									<th width="25%">Acciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> categorías</p>
					<nav aria-label="page navigation">
						<ul id='categoriasPager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
				<!-- Tab Factores de precategorización -->
				<div role="tabpanel-categorias" class="tab-pane fade" id="reglas-fdpc">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Factores de precategorización
								<button type="button" id="add_fdpc_btn" class="btn btn-md btn-success pull-right" title='Crear factor de precategorización'><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for fdpc in fdpcs %}
								<tr>
									<td class="font-bold">{{ fdpc.id }}</td>
									<td>{{ fdpc.descripcion }}</td>
									<td>
										<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#FactorPCDetailModal" title='Detalle'>
												<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
										</button>
										<a class="btn btn-transparent btn-xs" href="{% url 'fdpc_update' fdpc.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
										<a class="btn btn-transparent btn-xs" href="{% url 'fdpc_delete' fdpc.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
									</td>
								</tr>
								{% empty %}
								<tr class="text-center">
									<td id='blank_row' bgcolor="#FFFFFF" colspan="3">Ningún factor de precategorización creado</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> factores de precategorización</p>
					<nav aria-label="page navigation">
						<ul id='fdpcPager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
				<!-- Tab Reglas de precategorización -->
				<div role="tabpanel-categorias" class="tab-pane fade" id="reglas-rdpc">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Reglas de precategorización
								<button type="button" id="add_rdpc_btn" class="btn btn-md btn-success pull-right" title='Crear regla de precategorización'><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th>Nro</th>
									<th>Condición</th>
									<th>Categoría</th>
									<th>Prioridad</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for regla in rdpcs %}
								<tr>
									<td class="font-bold">{{ regla.id }}</td>
									<td>{{ regla.condicion.factorDePreCategorizacion.descripcion }} es {{ regla.condicion.descripcion }}</td>
									<td>{{ regla.resultado.descripcion }}</td>
									<td>{{ regla.prioridad }}</td>
									<td>
										<a href="{% url 'rdpc_update' regla.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
										<a class="row-icon" href="{% url 'rdpc_delete' regla.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
									</td>
								</tr>
								{% empty %}
								<tr class="text-center">
									<td id='blank_row' bgcolor="#FFFFFF" colspan="5">Ninguna regla de precategorización creada</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> reglas de precategorización</p>
					<nav aria-label="page navigation">
						<ul id='rdpcPager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>		
		<div role="tabpanel-ajustes" class="tab-pane fade" id="tab-ajustes">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href="#reglas-ajustes" aria-controls="Ajustes" role="tab" data-toggle="tab">Ajustes</a></li>
				<li role="presentation"><a href="#reglas-fda" aria-controls="Factores de ajuste" role="tab" data-toggle="tab">Factores de ajuste</a></li>
				<li role="presentation"><a href="#reglas-rda" aria-controls="Reglas de ajuste" role="tab" data-toggle="tab">Reglas de ajuste</a></li>
			</ul>		
			<div class="tab-content">
				<!-- Tab Ajustes -->
				<div role="tabpanel-ajustes" class="tab-pane fade in active" id="reglas-ajustes">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Ajustes</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
						<thead>
							<tr>
								<th width="50%">Nro</th>
								<th width="50%">Valor</th>
							</tr>
							</thead>
							<tbody>
								{% for ajuste in ajustes %}
								<tr>
									<td class="font-bold">{{ ajuste.id }}</td>
									<td>{{ ajuste.valor }}</td>
								</tr>
								{% empty %}
								<tr class="text-center">
									<td id='blank_row' bgcolor="#FFFFFF" colspan="2">Ningún ajuste creado</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> ajustes</p>
					<nav aria-label="page navigation">
						<ul id='ajustePager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
				<!-- Tab Factores de ajuste -->
				<div role="tabpanel-ajustes" class="tab-pane fade" id="reglas-fda">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Factores de ajuste
								<button type="button" id="add_fda_btn" class="btn btn-md btn-success pull-right" title='Crear factor de ajuste'><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for fda in fdas %}
								<tr>
									<td class="font-bold">{{ fda.id }}</td>
									<td>{{ fda.descripcion }}</td>
									<td>
										<a href="{% url 'fda_update' fda.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
										<a class="row-icon" href="{% url 'fda_delete' fda.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
									</td>
								</tr>
								{% empty %}
								<tr class="text-center">
									<td id='blank_row' bgcolor="#FFFFFF" colspan="3">Ningún FDA creado</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> factores de ajuste</p>
					<nav aria-label="page navigation">
						<ul id='fdaPager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
				<!-- Tab Reglas de ajuste -->
				<div role="tabpanel-ajustes" class="tab-pane fade" id="reglas-rda">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Reglas de ajuste
								<button type="button" id="add_rda_btn" class="btn btn-md btn-success pull-right" title='Crear regla de ajuste'><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th>Nro</th>
									<th>Condición</th>
									<th>Ajuste</th>
									<th>Prioridad</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								{% for regla in rdas %}
								<tr>
									<td class="font-bold">{{ regla.id }}</td>
									<td>{{ regla.condicion.factorDeAjuste.descripcion }} es {{ regla.condicion.descripcion }}</td>
									<td>{{ regla.resultado.valor }}</td>
									<td>{{ regla.prioridad }}</td>
									<td>
										<a href="{% url 'rda_update' regla.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
										<a class="row-icon" href="{% url 'rda_delete' regla.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
									</td>
								</tr>
								{% empty %}
								<tr class="text-center">
									<td id='blank_row' bgcolor="#FFFFFF" colspan="5">Ninguna regla de ajuste creada</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> reglas de ajuste</p>
					<nav aria-label="page navigation">
						<ul id='rdaPager' class="pager">
							<li class="previous"><a link='#'>Anterior</a></li>
							<li class="next"><a link='#'>Siguiente</a></li>
						</ul>
					</nav>
				</div>
			</div>			
		</div>		
	</div>
	
	<!-- Modals -->

	<!-- Modals Categoria Begin -->
	<div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="AddCategoryModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear categoría</h4>
				</div>
				<div class="modal-body row">
					<form id="AddCategoryForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
						{% render_form create_categoria_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddCategoryForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="CategoryUpdateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar categoría  <span id='CategoryUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body">
					<form id="UpdateCategoryForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_categoria_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateCategoryForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="CategoryDeleteModal" tabindex="-1" role="dialog" aria-labelledby="CategoryDeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="CategoryDeleteModalLabel">Eliminar categoría</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar la categoría con <strong>Id: <span id='CategoryDeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteCategoryForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals Categoria End -->

	<div class="modal fade" id="FactorPCDetailModal" tabindex="-1" role="dialog" aria-labelledby="FactorPCDetailModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="FactorPCDetailModalLabel">Detalle del Factor de PC ...</h4>
				</div>
				<div class="modal-body">
					<strong>Valores:</strong>
					<ul class="list-group"></ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra-JS %}
{% url 'ayuda' as ayuda_link %}
{% url 'category_create' as category_create_link %}
{% url 'fdpc_create' as fdpc_create_link %}
{% url 'fda_create' as fda_create_link %}
{% url 'vdfdpc_create' as vdfdpc_create_link %}
{% url 'vdfda_create' as vdfda_create_link %}
{% url 'rda_create' as rda_create_link %}
{% url 'rdpc_create' as rdpc_create_link %}
<!-- <script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script> -->
<!-- <script src='{% static "js/django-cookie-handler.js" %}' type="text/javascript"></script> -->
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script>	
	document.getElementById("add_fdpc_btn").onclick = function () { location.href = "{{ fdpc_create_link }}"; };
	document.getElementById("add_fda_btn").onclick = function () { location.href = "{{ fda_create_link }}"; };
	document.getElementById("add_rda_btn").onclick = function () { location.href = "{{ rda_create_link }}"; };
	document.getElementById("add_rdpc_btn").onclick = function () { location.href = "{{ rdpc_create_link }}"; };
	// document.getElementById("add_vdfdpc_btn").onclick = function () { location.href = "{{ vdfdpc_create_link }}"; };
	// document.getElementById("add_vdfda_btn").onclick = function () { location.href = "{{ vdfda_create_link }}"; };


	// CONSTANTS
	const categoria_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/categoria/'
	const categorias_records = document.querySelector('#reglas-categorias > div > table > tbody')
	const vdfdpc_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/vdfdpc/'

	
	/***** Categoría JS Begin *****/
	

	loadCategorias(categorias_records, categoria_api_url)
	$('.nav-tabs a[href="#reglas-categorias"]').on('show.bs.tab', event => {
		loadCategorias(categorias_records, categoria_api_url)
	})

	function loadCategorias(dest, apiURL) {
		dest.innerHTML = ''
		
		fetch(apiURL, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response)
		}).then(response => {
			return response.json()
		}).then(jsonData => {
			jsonData.results.map((categoria) => {
				let newRow = dest.insertRow(dest.rows.length)
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#CategoryUpdateModal" title='Editar'>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#CategoryDeleteModal" title='Eliminar'>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>`
				newRow.innerHTML = `<td class='font-bold' bgcolor='${categoria.color}'>${categoria.id}</td>
									<td>${categoria.descripcion}</td>
									<td>${categoria.prioridad}</td>
									<td>${acciones}</td>`
			})
			setPaginationInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count)
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`)
		})
	}


	/*
	 * AddCategoryModal Layout
	 */
	const divs_create_category = document.getElementById('AddCategoryForm').getElementsByTagName('div')
	divs_create_category[0].classList.add('col-md-12')
	divs_create_category[1].classList.add('col-md-6')
	divs_create_category[1].getElementsByTagName('input')[0].classList.add('text-center', 'font-bold')
	divs_create_category[2].classList.add('col-md-6')

	/*
	 * CreateCategory
	 */
	document.getElementById('AddCategoryForm').onsubmit = function createCategory(event) {
		document.querySelector('.messages').innerHTML = ''

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'POST',
			headers: new Headers(header_init),
			body: new FormData(document.getElementById('AddCategoryForm')),
			credentials: 'same-origin'
		}

		fetch(categoria_api_url, fetchOptions).then(response => {
			response.json()
			.then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">La categoría \"${jsonData.descripcion}\" fue registrada
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`

					// Empty Solicitud form
					document.getElementById('AddCategoryForm').reset()

					$('#AddCategoryModal').modal('hide')
					loadCategorias(categorias_records, categoria_api_url)
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					})
				}
			})
		})
		event.preventDefault()	// Evita el envío POST del botón
		window.scrollTo(0,0)	// Scroll a la parte superior de la pantalla
	}


	/*
	 * UpdateCategoryModal Layout
	 */
	const divs_update_category = document.getElementById('UpdateCategoryForm').getElementsByTagName('div')
	divs_update_category[0].classList.add('col-md-12')
	divs_update_category[1].classList.add('col-md-6')
	divs_update_category[1].getElementsByTagName('input')[0].classList.add('text-center', 'font-bold')
	divs_update_category[2].classList.add('col-md-6')


	/*
	 * UpdateCategory
	 */
	 document.getElementById('UpdateCategoryForm').onsubmit = function createCategory(event) {
		event.preventDefault(); // Evita el auto-envío del botón
		document.querySelector('.messages').innerHTML = ''

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'PUT',
			headers: new Headers(header_init),
			body: new FormData(document.getElementById('UpdateCategoryForm')),
			credentials: 'same-origin'
		}

		const categoryId = document.getElementById('CategoryUpdateModalId').innerText;

		fetch(`${categoria_api_url}${categoryId}/`, fetchOptions).then(response => {
			response.json()
			.then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">La categoría \"${jsonData.descripcion}\" fue actualizada
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`

					// Empty Solicitud form
					document.getElementById('UpdateCategoryForm').reset()

					$('#CategoryUpdateModal').modal('hide')
					loadCategorias(categorias_records, categoria_api_url)
					
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					})
				}
			})
		})
		event.preventDefault()	// Evita el envío POST del botón
		window.scrollTo(0,0)	// Scroll a la parte superior de la pantalla
	}	


	/*
	 * CategoryUpdateModal Handler
	 */
	 $('#CategoryUpdateModal').on('show.bs.modal', (event) => {
		const clickedButton = $(event.relatedTarget);
		const categoriaId = clickedButton.closest('tr').find('td:eq(0)').text();

		fetch(`${categoria_api_url}${categoriaId}`, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			document.querySelector('#UpdateCategoryForm > div > input[name="descripcion"]').value = jsonData.descripcion;
			document.querySelector('#UpdateCategoryForm > div > input[name="prioridad"').value = jsonData.prioridad;
			document.querySelector('#UpdateCategoryForm > div > input[name="color"').value = jsonData.color;
		}).catch(error => {
			console.log(`Error al realizar fetch de detalle de la categoría Id ${categoriaId}: ${error.message}`);
		});
		document.getElementById('CategoryUpdateModalId').innerText = categoriaId;
	});
	

	document.getElementById('DeleteCategoryForm').onsubmit = function deleteCategory(event) {
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'DELETE',
			headers: new Headers(header_init),
			credentials: 'same-origin'
		};
		
		const categoriaId = document.getElementById('CategoryDeleteModalId').innerText;

		fetch(`${categoria_api_url}${categoriaId}`, fetchOptions).then(response => {
			if(response.ok) {
				// Mostrar mensaje de éxito
				document.querySelector('.messages').innerHTML = `
				<div class="alert alert-dismissable fade in alert-success">Categoría con Id: ${categoriaId} fue eliminada
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
				loadCategorias(categorias_records, categoria_api_url);
			} else {
				response.json()
				.then(jsonData => {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				});
			}
		});
		$('#CategoryDeleteModal').modal('hide');
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};


	/*
	 * CategoryDeleteModal Handler
	 */
	 $('#CategoryDeleteModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const categoryId = button.closest('tr').find('td:eq(0)').text();
		document.getElementById('CategoryDeleteModalId').innerText = categoryId;
	});
	

	/***** Categoría JS End *****/

	/*
	 * FactorPCDetailModalHandler
	 */
	 $('#FactorPCDetailModal').on('show.bs.modal', (event) => {
		const clickedButton = $(event.relatedTarget)
		const factorpc_descr = clickedButton.closest('tr').find('td:eq(1)').text()
		const valores_list = document.querySelector('#FactorPCDetailModal > .modal-dialog > .modal-content > .modal-body > .list-group')
		valores_list.innerHTML = ''

		fetch(`${vdfdpc_api_url}`, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response)
		}).then(response => {
			return response.json()
		}).then(jsonData => {
			jsonData.results.map(valor => {
				if(valor.factorDePreCategorizacion == factorpc_descr) {
					const list_element = document.createElement('li')
					list_element.classList.add('list-group-item')
					list_element.innerText = valor.descripcion
					valores_list.appendChild(list_element)
				}
			})
		}).catch(error => {
			console.log(`Error al realizar fetch de valores del factor de pc ${factorpc_descr}: ${error.message}`)
		})

		document.getElementById('FactorPCDetailModalLabel').innerText = `Detalle del Factor de PC: \"${factorpc_descr}\"`
	})


	function setPaginationInfo(previous, next, currentAmount, totalAmount) {
		document.getElementById('CurrentPageAmount').innerText = currentAmount
		document.getElementById('TotalAmount').innerText = totalAmount

		if(previous === null)
			document.querySelector('#categoriasPager > .previous').classList.add('disabled')
		else {
			document.querySelector('#categoriasPager > .previous').classList.remove('disabled')
			document.querySelector('#categoriasPager > .previous > a').link = previous
		}
		if(next === null)
			document.querySelector('#categoriasPager > .next').classList.add('disabled')
		else {
			document.querySelector('#categoriasPager > .next').classList.remove('disabled')
			document.querySelector('#categoriasPager > .next > a').link = next
		}
	}
</script>
{% endblock extra-JS %}