{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="jumbotron">
			<div class="container">
				<h2 class="text-center">Configuración de motor de categorización</h2>
				<button type="button" id="ayuda_btn" class="btn btn-info pull-right" title='Ver ayuda'>Ver ayuda</button>
				<form class="form-inline" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<button type="submit" name="drools" class="btn btn-success">Generar archivo de reglas</button>
				</form>
			</div>
		</div>

		<!-- Panel de categorías -->
		<div class="panel-group col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">CATEGORÍAS
					<button type="button" id="add_category_btn" class="btn btn-xs btn-success pull-right" title='Registrar categoría'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Prioridad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for categoria in categorias %}
						<tr>
							<td class="font-bold" bgcolor='{{ categoria.color }}'>{{ categoria.id }}</td>
							<td>{{ categoria.descripcion|capfirst }}</td>
							<td>{{ categoria.prioridad }}</td>
							<td>
								<a href="{% url 'category_update' categoria.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'category_delete' categoria.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="4">Ninguna categoría creada</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de categorías -->

		<!-- Panel de ajustes -->
		<div class="panel-group col-md-3 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">AJUSTES</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						{% for ajuste in ajustes %}
						<tr>
							<td class="font-bold">{{ ajuste.id }}</td>
							<td>{{ ajuste.valor }}</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="2">Ningún ajuste creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de ajustes -->

		<!-- Panel de FDPC -->
		<div class="panel-group col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">FACTORES DE PRE-CATEGORIZACIÓN
					<button type="button" id="add_fdpc_btn" class="btn btn-xs btn-success pull-right" title='Registrar FDPC'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for fdpc in fdpcs %}
						<tr>
							<td class="font-bold">{{ fdpc.id }}</td>
							<td>{{ fdpc.descripcion }}</td>
							<td>
								<a href="{% url 'fdpc_update' fdpc.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'fdpc_delete' fdpc.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="3">Ningún FDPC creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de FDPC -->

		<!-- Panel de FDA -->
		<div class="panel-group col-md-5">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">FACTORES DE AJUSTE
					<button type="button" id="add_fda_btn" class="btn btn-xs btn-success pull-right" title='Registrar FDA'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for fda in fdas %}
						<tr>
							<td class="font-bold">{{ fda.id }}</td>
							<td>{{ fda.descripcion }}</td>
							<td>
								<a href="{% url 'fda_update' fda.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'fda_delete' fda.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="3">Ningún FDA creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de FDA -->

		<!-- Panel de VDFDPC -->
		<div class="panel-group col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">VALORES DE FACTOR DE PRE-CATEGORIZACIÓN
					<button type="button" id="add_vdfdpc_btn" class="btn btn-xs btn-success pull-right" title='Registrar VDFDPC'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Factor de pre-categorización</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for valor in vdfdpcs %}
						<tr>
							<td class="font-bold">{{ valor.id }}</td>
							<td>{{ valor.descripcion }}</td>
							<td>{{ valor.factorDePreCategorizacion.descripcion }}</td>
							<td>
								<a href="{% url 'vdfdpc_update' valor.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'vdfdpc_delete' valor.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="4">Ningún VDFDPC creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de VDFDPC -->

		<!-- Panel de VDFDA -->
		<div class="panel-group col-md-5">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">VALORES DE FACTOR DE AJUSTE
					<button type="button" id="add_vdfda_btn" class="btn btn-xs btn-success pull-right" title='Registrar VDFDA'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Factor de ajuste</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for valor in vdfdas %}
						<tr>
							<td class="font-bold">{{ valor.id }}</td>
							<td>{{ valor.descripcion }}</td>
							<td>{{ valor.factorDeAjuste.descripcion }}</td>
							<td>
								<a href="{% url 'vdfda_update' valor.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'vdfda_delete' valor.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="4">Ningún VDFDA creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de VDFDA -->

		<!-- Panel de RDPC -->
		<div class="panel-group col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">REGLAS DE PRE-CATEGORIZACIÓN
					<button type="button" id="add_rdpc_btn" class="btn btn-xs btn-success pull-right" title='Registrar RDPC'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Condición</th>
							<th>Categoría</th>
							<th>Prioridad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for regla in rdpcs %}
						<tr>
							<td class="font-bold">{{ regla.id }}</td>
							<td>{{ regla.condicion.factorDePreCategorizacion.descripcion }} es {{ regla.condicion.descripcion }}</td>
							<td>{{ regla.resultado.descripcion }}</td>
							<td>{{ regla.prioridad }}</td>
							<td>
								<a href="{% url 'rdpc_update' regla.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'rdpc_delete' regla.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="5">Ninguna regla de pre-categorización creada</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de RDPC -->

		<!-- Panel de RDA -->
		<div class="panel-group col-md-5">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">REGLAS DE AJUSTE
					<button type="button" id="add_rda_btn" class="btn btn-xs btn-success pull-right" title='Registrar RDA'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Condición</th>
							<th>Ajuste</th>
							<th>Prioridad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for regla in rdas %}
						<tr>
							<td class="font-bold">{{ regla.id }}</td>
							<td>{{ regla.condicion.factorDeAjuste.descripcion }} es {{ regla.condicion.descripcion }}</td>
							<td>{{ regla.resultado.valor }}</td>
							<td>{{ regla.prioridad }}</td>
							<td>
								<a href="{% url 'rda_update' regla.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'rda_delete' regla.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="5">Ninguna regla de ajuste creada</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de RDA -->
	</div> <!-- /.row -->
</div> <!-- /container-fluid -->
{% endblock content %}

{% block extra-JS %}{{ block.super }}
	{% url 'ayuda' as ayuda_link %}
	{% url 'category_create' as category_create_link %}
	{% url 'fdpc_create' as fdpc_create_link %}
	{% url 'fda_create' as fda_create_link %}
	{% url 'vdfdpc_create' as vdfdpc_create_link %}
	{% url 'vdfda_create' as vdfda_create_link %}
	{% url 'rda_create' as rda_create_link %}
	{% url 'rdpc_create' as rdpc_create_link %}
<script>
	document.getElementById("ayuda_btn").onclick = function () { location.href = "{{ ayuda_link }}"; };
	document.getElementById("add_category_btn").onclick = function () { location.href = "{{ category_create_link }}"; };
	document.getElementById("add_fdpc_btn").onclick = function () { location.href = "{{ fdpc_create_link }}"; };
	document.getElementById("add_fda_btn").onclick = function () { location.href = "{{ fda_create_link }}"; };
	document.getElementById("add_vdfdpc_btn").onclick = function () { location.href = "{{ vdfdpc_create_link }}"; };
	document.getElementById("add_vdfda_btn").onclick = function () { location.href = "{{ vdfda_create_link }}"; };
	document.getElementById("add_rda_btn").onclick = function () { location.href = "{{ rda_create_link }}"; };
	document.getElementById("add_rdpc_btn").onclick = function () { location.href = "{{ rdpc_create_link }}"; };
</script>
{% endblock extra-JS %}