{% extends "baseForm.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block content %}

<div class="container col-md-8 col-md-offset-2">
	<div class="body-header">
		<h1 class="text-center font-bold">Gestión de reglas</h1>
	</div>

	<div class="panel-body" style="padding-right: 0px">
		<form class="form-inline" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<button type="submit" name="drools" class="btn btn-success pull-right">Actualizar reglas de Triage</button>
		</form>
	</div>

	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active"><a href="#tab-categorias" aria-controls="Categorías" role="tab" data-toggle="tab">Categorías</a></li>
		<li role="presentation"><a href="#tab-ajustes" aria-controls="Categorías" role="tab" data-toggle="tab">Ajustes</a></li>		
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel-categorias" class="tab-pane fade in active" id="tab-categorias">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href="#reglas-categorias" aria-controls="Categorías" role="tab" data-toggle="tab">Categorías</a></li>
				<li role="presentation"><a href="#reglas-fdpc" aria-controls="Factores de precategorización" role="tab" data-toggle="tab">Factores de precategorización</a></li>
				<li role="presentation"><a href="#reglas-rdpc" aria-controls="Reglas de precategorización" role="tab" data-toggle="tab">Reglas de precategorización</a></li>
			</ul>
			<div class="tab-content">
				<!-- Tab categorías -->
				<div role="tabpanel-categorias" class="tab-pane fade in active" id="reglas-categorias">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Categorías
								<button type="button" class="btn btn-md btn-success pull-right" title='Crear categoría' data-toggle="modal" data-target="#AddCategoryModal"><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="5%">Nro</th>
									<th width="45%">Descripción</th>
									<th width="25%">Prioridad</th>
									<th width="25%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Tab Factores de precategorización -->
				<div role="tabpanel-categorias" class="tab-pane fade" id="reglas-fdpc">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Factores de precategorización
								<button type="button" class="btn btn-md btn-success pull-right" title='Crear factor de precategorización' data-toggle="modal" data-target="#AddFactorPCModal"><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Tab Reglas de precategorización -->
				<div role="tabpanel-categorias" class="tab-pane fade" id="reglas-rdpc">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Reglas de precategorización
								<button type="button" class="btn btn-md btn-success pull-right" title='Crear regla de precategorización' data-toggle="modal" data-target="#AddReglaPCModal"><span class="glyphicon glyphicon-plus"></span></button>														
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th>Nro</th>
									<th>Condición</th>
									<th>Categoría</th>
									<th>Prioridad</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
		</div>		
		<div role="tabpanel-ajustes" class="tab-pane fade" id="tab-ajustes">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href="#reglas-ajustes" aria-controls="Ajustes" role="tab" data-toggle="tab">Ajustes</a></li>
				<li role="presentation"><a href="#reglas-fda" aria-controls="Factores de ajuste" role="tab" data-toggle="tab">Factores de ajuste</a></li>
				<li role="presentation"><a href="#reglas-rda" aria-controls="Reglas de ajuste" role="tab" data-toggle="tab">Reglas de ajuste</a></li>
			</ul>		
			<div class="tab-content">
				<!-- Tab Ajustes -->
				<div role="tabpanel-ajustes" class="tab-pane fade in active" id="reglas-ajustes">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Ajustes</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
						<thead>
							<tr>
								<th width="50%">Nro</th>
								<th width="50%">Valor</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Tab Factores de ajuste -->
				<div role="tabpanel-ajustes" class="tab-pane fade" id="reglas-fda">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Factores de ajuste
								<button type="button" class="btn btn-md btn-success pull-right" title='Crear factor de ajuste' data-toggle="modal" data-target="#AddFactorAModal"><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Tab Reglas de ajuste -->
				<div role="tabpanel-ajustes" class="tab-pane fade" id="reglas-rda">
					<div class="panel panel-default" style="overflow-x:auto;">
						<div class="panel-header">
							<h2 class="text-center">Reglas de ajuste
								<button type="button" class="btn btn-md btn-success pull-right" title='Crear regla de ajuste' data-toggle="modal" data-target="#AddReglaAModal"><span class="glyphicon glyphicon-plus"></span></button>
							</h2>
						</div>
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th>Nro</th>
									<th>Condición</th>
									<th>Ajuste</th>
									<th>Prioridad</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>			
		</div>		
	</div>
	
	<!-- Modals -->

	<!-- Modals Categoria Begin -->
	<div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="AddCategoryModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear categoría</h4>
				</div>
				<div class="modal-body row">
					<form id="AddCategoryForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
						{% render_form create_categoria_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddCategoryForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="CategoryUpdateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar categoría Nro <span id='CategoryUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateCategoryForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_categoria_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateCategoryForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="CategoryDeleteModal" tabindex="-1" role="dialog" aria-labelledby="CategoryDeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="CategoryDeleteModalLabel">Eliminar categoría</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar la categoría Nro: <strong><span id='CategoryDeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteCategoryForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals Categoria End -->

	<!-- Modals FactorPC Begin -->
	<div class="modal fade" id="AddFactorPCModal" tabindex="-1" role="dialog" aria-labelledby="AddFactorPCModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear factor de precategorización</h4>
				</div>
				<div class="modal-body row">
					<form id="AddFactorPCForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
						{% render_form create_factorpc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddFactorPCForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorPCUpdateModal" tabindex="-1" role="dialog" aria-labelledby="FactorPCUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar factor de precategorización Nro <span id='FactorPCUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateFactorPCForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_factorpc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateFactorPCForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorPCDeleteModal" tabindex="-1" role="dialog" aria-labelledby="FactorPCDeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="FactorPCDeleteModalLabel">Eliminar factor de precategorización</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar el factor de precategorización Nro: <strong><span id='FactorPCDeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteFactorPCForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorPCDetailModal" tabindex="-1" role="dialog" aria-labelledby="FactorPCDetailModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<button type="button" class="btn btn-xs btn-success pull-left" title='Crear valor' data-toggle="modal" data-target="#AddValorFactorPCModal"><span class="glyphicon glyphicon-plus"></span></button>
					<h4 class="modal-title text-center" id="FactorPCDetailModalLabel">Detalle del factor de precategorización ...
						<span id='FactorPCDetailModalId' style="display:none;"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-default" style="overflow-x:auto;">
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals FactorPC End -->

	<!-- Modals ReglaPC Begin -->
	<div class="modal fade" id="AddReglaPCModal" tabindex="-1" role="dialog" aria-labelledby="AddReglaPCModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear regla de precategorización</h4>
				</div>
				<div class="modal-body row">
					<form id="AddReglaPCForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form create_reglapc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddReglaPCForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ReglaPCUpdateModal" tabindex="-1" role="dialog" aria-labelledby="ReglaPCUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar regla de precategorización Nro <span id='ReglaPCUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateReglaPCForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_reglapc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateReglaPCForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ReglaPCDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ReglaPCDeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="ReglaPCDeleteModalLabel">Eliminar regla de precategorización</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar la regla de precategorización Nro: <strong><span id='ReglaPCDeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteReglaPCForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals ReglaPC End -->

	<!-- Modals FactorA Begin -->
	<div class="modal fade" id="AddFactorAModal" tabindex="-1" role="dialog" aria-labelledby="AddFactorAModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear factor de ajuste</h4>
				</div>
				<div class="modal-body row">
					<form id="AddFactorAForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form create_factora_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddFactorAForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorAUpdateModal" tabindex="-1" role="dialog" aria-labelledby="FactorAUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar factor de ajuste Nro <span id='FactorAUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateFactorAForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_factora_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateFactorAForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorADeleteModal" tabindex="-1" role="dialog" aria-labelledby="FactorADeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="FactorADeleteModalLabel">Eliminar factor de ajuste</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar el factor de ajuste Nro: <strong><span id='FactorADeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteFactorAForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FactorADetailModal" tabindex="-1" role="dialog" aria-labelledby="FactorADetailModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<button type="button" class="btn btn-xs btn-success pull-left" title='Crear valor' data-toggle="modal" data-target="#AddValorFactorAModal"><span class="glyphicon glyphicon-plus"></span></button>
					<h4 class="modal-title text-center" id="FactorADetailModalLabel">Detalle del factor de ajuste ...
						<span id='FactorADetailModalId' style="display:none;"></span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-default" style="overflow-x:auto;">
						<!-- Table -->
						<table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th width="20%">Nro</th>
									<th width="60%">Descripción</th>
									<th width="20%">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- Los valores de la tabla se obtienen del JS correspondiente -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals FactorA End -->

	<!-- Modals ValorFactorPC Begin -->
	<div class="modal fade" id="AddValorFactorPCModal" tabindex="-1" role="dialog" aria-labelledby="AddValorFactorPCModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear valor
						<span id='ValorFactorPCAddModalId' style="display:none;"></span>
						<span id='ValorFactorPCAddModalDesc' style="display:none;"></span>
					</h4>
				</div>
				<div class="modal-body row">
					<form id="AddValorFactorPCForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form create_valorfactorpc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddValorFactorPCForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ValorFactorPCUpdateModal" tabindex="-1" role="dialog" aria-labelledby="ValorFactorPCUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar valor para el factor de precategorización Nro 
						<span id='ValorFactorPCUpdateModalId'>...</span>
						<span id='ValorFactorPCUpdateModalFactorId' style="display:none;">...</span>
					</h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateValorFactorPCForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_valorfactorpc_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateValorFactorPCForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ValorFactorPCDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ValorFactorPCDeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="ValorFactorPCDeleteModalLabel">Eliminar valor para el factor de precategorización</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar el valor para el factor de precategorización Nro: <strong><span id='ValorFactorPCDeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteValorFactorPCForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals ValorFactorPC End -->

	<!-- Modals ValorFactorA Begin -->
	<div class="modal fade" id="AddValorFactorAModal" tabindex="-1" role="dialog" aria-labelledby="AddValorFactorAModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear valor
						<span id='ValorFactorAAddModalId' style="display:none;"></span>
						<span id='ValorFactorAAddModalDesc' style="display:none;"></span>
					</h4>
				</div>
				<div class="modal-body row">
					<form id="AddValorFactorAForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form create_valorfactora_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddValorFactorAForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ValorFactorAUpdateModal" tabindex="-1" role="dialog" aria-labelledby="ValorFactorAUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar valor para el factor de ajuste Nro	  
						<span id='ValorFactorAUpdateModalId'>...</span>
						<span id='ValorFactorAUpdateModalFactorId' style="display:none;">...</span>
					</h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateValorFactorAForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_valorfactora_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateValorFactorAForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ValorFactorADeleteModal" tabindex="-1" role="dialog" aria-labelledby="ValorFactorADeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="ValorFactorADeleteModalLabel">Eliminar valor para el factor de ajuste</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar el valor para el factor de ajuste Nro: <strong><span id='ValorFactorADeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteValorFactorAForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals ValorFactorA End -->

	<!-- Modals ReglaA Begin -->
	<div class="modal fade" id="AddReglaAModal" tabindex="-1" role="dialog" aria-labelledby="AddReglaAModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Crear regla de ajuste</h4>
				</div>
				<div class="modal-body row">
					<form id="AddReglaAForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form create_reglaa_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='AddReglaAForm' class="btn btn-success">Crear</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ReglaAUpdateModal" tabindex="-1" role="dialog" aria-labelledby="ReglaAUpdateModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center">Editar regla de ajuste Nro <span id='ReglaAUpdateModalId'>...</span></h4>
				</div>
				<div class="modal-body row">
					<form id="UpdateReglaAForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						{% render_form update_reglaa_serializer %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" form='UpdateReglaAForm' class="btn btn-success">Editar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ReglaADeleteModal" tabindex="-1" role="dialog" aria-labelledby="ReglaADeleteModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title text-center" id="ReglaADeleteModalLabel">Eliminar regla de ajuste</h4>
				</div>
				<div class="modal-body text-center">
					<p>¿Está seguro que quiere eliminar la regla de ajuste Nro: <strong><span id='ReglaADeleteModalId'>...</span></strong>?</p>
				</div>
				<div class="modal-footer">
					<form id="DeleteReglaAForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
						{% csrf_token %}
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-danger">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modals ReglaA End -->
</div>

{% endblock content %}

{% block extra-JS %}
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script>	
	// CONSTANTS
	const ajuste_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/ajuste/'
	const ajustes_records = document.querySelector('#reglas-ajustes > div > table > tbody')
	const categoria_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/categoria/'
	const categorias_records = document.querySelector('#reglas-categorias > div > table > tbody')
	const fdpc_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/fdpc/'
	const fdpc_records = document.querySelector('#reglas-fdpc > div > table > tbody')
	const vdfdpc_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/vdfdpc/'
	const vdfdpc_records = document.querySelector('#FactorPCDetailModal > div > div > div > div > table > tbody')
	const rdpc_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/rdpc/'
	const rdpc_records = document.querySelector('#reglas-rdpc > div > table > tbody')
	const fda_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/fda/'
	const fda_records = document.querySelector('#reglas-fda > div > table > tbody')
	const vdfda_records = document.querySelector('#FactorADetailModal > div > div > div > div > table > tbody')
	const vdfda_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/vdfda/'
	const rda_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/api/rda/'
	const rda_records = document.querySelector('#reglas-rda > div > table > tbody')
</script>
<script src='{% static "js/rules/ajuste.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/categoria.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/valor-factor-precategorizacion.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/factor-precategorizacion.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/regla-precategorizacion.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/valor-factor-ajuste.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/factor-ajuste.js" %}' type="text/javascript"></script>
<script src='{% static "js/rules/regla-ajuste.js" %}' type="text/javascript"></script>
{% endblock extra-JS %}	