{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<!-- Panel de VDFDPC -->
		<div class="panel-group col-md-5 col-md-offset-1">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">VALORES DE FACTOR DE PRE-CATEGORIZACIÓN
					<button type="button" id="add_vdfdpc_btn" class="btn btn-xs btn-success pull-right" title='Registrar VDFDPC'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Factor de pre-categorización</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for valor in vdfdpcs %}
						<tr>
							<td class="font-bold">{{ valor.id }}</td>
							<td>{{ valor.descripcion }}</td>
							<td>{{ valor.factorDePreCategorizacion.descripcion }}</td>
							<td>
								<a href="{% url 'vdfdpc_update' valor.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'vdfdpc_delete' valor.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="4">Ningún VDFDPC creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de VDFDPC -->

		<!-- Panel de VDFDA -->
		<div class="panel-group col-md-5">
			<div class="panel panel-default panel-restricted">
				<div class="panel-heading font-bold text-center">VALORES DE FACTOR DE AJUSTE
					<button type="button" id="add_vdfda_btn" class="btn btn-xs btn-success pull-right" title='Registrar VDFDA'><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Descripción</th>
							<th>Factor de ajuste</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for valor in vdfdas %}
						<tr>
							<td class="font-bold">{{ valor.id }}</td>
							<td>{{ valor.descripcion }}</td>
							<td>{{ valor.factorDeAjuste.descripcion }}</td>
							<td>
								<a href="{% url 'vdfda_update' valor.id %}" title='Modificar'><span class="glyphicon glyphicon-pencil text-color-cornflowerblue"></span></a>
								<a class="row-icon" href="{% url 'vdfda_delete' valor.id %}" title='Anular'><span class="glyphicon glyphicon-trash text-color-cornflowerblue"></span></a>
							</td>
						</tr>
						{% empty %}
						<tr class="text-center">
							<td id='blank_row' bgcolor="#FFFFFF" colspan="4">Ningún VDFDA creado</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- /Panel de VDFDA -->
	</div> <!-- /.row -->
</div> <!-- /container-fluid -->
{% endblock content %}

