/* --- SIEM custom styles --- */
body > .container-fluid { padding-bottom: 3%; } /* usado en home.html */

#css_footer > .panel-footer { padding: 10px 30px; } /* usado en baseForm.html confirmDeletion.html */

.row-icon { padding-left: 3%; } /* usado para los iconos de acción en las tablas de home.html */

.panel-restricted { max-height: 190px;	overflow-y: auto; } /* Para los paneles de home.html */

.indented { text-indent: 5%; }

/* Text Styling Classes */
.font-bold { font-weight: bold; }
.text-color-red { color: red !important; }
.text-color-green { color: #329932 !important; }
.text-color-purple { color: #8c198c !important; }
.text-color-yellow { color: #ffff66 !important; }
.text-color-blue { color: #1919ff !important; }
.text-color-cornflowerblue { color: #6495ed !important; }
.text-color-DarkSlateGray { color: 	#8deeee !important; }

.logo {
  width: 90px;
  height: 30px;
}

.navbar-siem {
    background-color: #015F83;
    border-color: #000000;
}

.navbar.navbar-siem.navbar-fixed-top {
  overflow: hidden;
}

.navbar.navbar-siem.navbar-fixed-top a:hover {
  background-color: #24A6D8;
}

.navbar.navbar-siem.navbar-fixed-top a {
  text-align: center;
  color: #ffffff;
  padding: 14px 16px;
}

.navbar.navbar-siem.navbar-fixed-top .icon:hover {
  color: #ffffff;
}

.navbar.navbar-siem.navbar-fixed-top .icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    display: none;
  }

  .navbar.navbar-siem.navbar-fixed-top a.icon {
    float: right;
    display: block;
  }

  .navbar.navbar-siem.navbar-fixed-top .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.navbar-siem.navbar-fixed-top a {
    text-align: left;
  }

  .nav.navbar-nav.responsive {
    text-align: left;
    display: block;
    position: relative;
  }
}