/* --- SIEM custom styles --- */
body > .container-fluid { padding-bottom: 3%; } /* usado en home.html */

#css_footer > .panel-footer { padding: 10px 30px; } /* usado en baseForm.html confirmDeletion.html */

.row-icon { padding-left: 3%; } /* usado para los iconos de acción en las tablas de home.html */

.panel-restricted { max-height: 190px;	overflow-y: auto; } /* Para los paneles de home.html */

.indented { text-indent: 5%; }


/* Text Styling Classes */
.font-bold { font-weight: bold; }
.text-color-red { color: red !important; }
.text-color-green { color: #329932 !important; }
.text-color-purple { color: #8c198c !important; }
.text-color-yellow { color: #ffff66 !important; }
.text-color-blue { color: #1919ff !important; }
.text-color-cornflowerblue { color: #6495ed !important; }
.text-color-DarkSlateGray { color: 	#8deeee !important; }


/* Navbar Fixed Styling */
.navbar-brand.fixed-theme { font-size: 18px; }
.navbar-container.fixed-theme { padding-left: 3%; }
.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgba(255,255,255,.8);
    border-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(255,255,255,.8);
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}