/* --- SIEM custom styles --- */
body > .container-fluid { padding-bottom: 3%; } /* usado en rules.html */

#css_footer > .panel-footer { padding: 10px 30px; } /* usado en baseForm.html confirmDeletion.html */

.row-icon { padding-left: 3%; } /* usado para los iconos de acción en las tablas de rules.html */

.panel-restricted { max-height: 190px;	overflow-y: auto; } /* Para los paneles de rules.html */

.indented { text-indent: 5%; }


/* Usado en los pager de auxilios, médicos y usuarios*/
.mostrando { margin: 0 }
.pager { margin: 0 }


/*
 ***	Text Styling Classes	***
 */
.font-bold { font-weight: bold; }
.text-color-red { color: red !important; }
.text-color-green { color: #329932 !important; }
.text-color-purple { color: #8c198c !important; }
.text-color-yellow { color: #ffff66 !important; }
.text-color-blue { color: #1919ff !important; }
.text-color-cornflowerblue { color: #6495ed !important; }
.text-color-DarkSlateGray { color: 	#8deeee !important; }


.btn-success {
	background-image: linear-gradient(to bottom,#009839 0,#009839 100%);
}

.btn-danger {
	background-image: linear-gradient(to bottom,#D12400 0,#D12400 100%);
}

.btn-info,
.btn-info:focus, 
.btn-info:hover {
	background-image: linear-gradient(to bottom,#014965 0,#014965 100%);
	background-color: #014965;
	border-color: #014965;
}

.nav-tabs.nav-justified {
	background-color: #015F83;
}

.nav-tabs.nav-justified.a {
	color: #b8b8b8;
}

.nav-tabs>li>a {
	color: #b8b8b8;
}

.nav-tabs>li>a:hover {
	background-color: #24A6D8; 
	color: #ffffff;
}

.nav-tabs.nav-justified>li.active>a, 
.nav-tabs.nav-justified>li.active>a:focus, 
.nav-tabs.nav-justified>li.active>a:hover {
	color: #ffffff;
	cursor: default;
	background-color: #015F83;
}

/*
 ***	ANALYTICS	***
 */
.loading-report {
	width: 70px;
}

/*
 ***	AUXILIOS PAGE	***
 */
.filter-row > th{
	vertical-align: middle !important;
}
.filtro {
	width: 85% !important;
}
.checkbox-inline {
	padding: 0;
	width: 100%;
}
.checkbox-inline > .checkbox:not(:first-child) {
	padding-left: 3%;
}
.loading {
	width: 50px;
}
.motivo {
	max-height: 190px;
	overflow-y: auto;
}
#resumen-empty-msg {
	padding-top: 4%;
}
.factor_valor {
	margin-left: 2% !important;
}
.prioridad {
	background-color: black;
	margin-left: 7px;
}
.mapa-detail-auxilio {
	height: 100px;
	position: relative;
	width: 100%;
}


/*
 ***	HOME PAGE	***
 */
#div-home {
	margin-top: 5%;
	background-image: url("/static/img/banner_home.jpg");
	background-position: center;
	background-size: cover;
}


/*
 ***	BASE TEMPLATE	***
 */
#base-container {
	margin-top: 60px;
}


/*
 ***	CUSTOM NAVBAR STYLE		***
 */
#logo {
	width: 95px;
	height: 32px;
}
.navbar-siem {
	background-color: #015F83;
	border-color: #000000;
	color: white;
	border-radius: 0;
}
.navbar-siem .navbar-nav > li > a {
	color: white;
}
.navbar-siem .navbar-nav > .active > a {
	color: white;
	background-color: transparent;
}
.navbar-siem .navbar-nav > li > a:hover,
.navbar-siem .navbar-nav > li > a:focus,
.navbar-siem .navbar-nav > .active > a:hover,
.navbar-siem .navbar-nav > .active > a:focus,
.navbar-siem .navbar-nav > .open >a {
	text-decoration: none;
	background-color: #24A6D8;
}
.navbar-siem .navbar-brand {
	color: white;
}
.navbar-siem .navbar-toggle {
	background-color: white;
}
.navbar-siem .icon-bar {
	background-color: #015F83;
}
/* for dropdowns only */
.navbar-siem .navbar-nav .dropdown-siem {
	background-color: #015F83;
}
.navbar-siem .navbar-nav .dropdown-siem > li > a {
	color: white;
}
.navbar-siem .navbar-nav .dropdown-siem > li > a:hover,
.navbar-siem .navbar-nav .dropdown-siem > li > a:focus {
	background-color: #24A6D8;	/* NO FUNCIONA */
	color: black;
}
@media screen and (max-width: 767px) {
	.navbar-siem .navbar-nav .dropdown-siem > li > a:hover,
	.navbar-siem .navbar-nav .dropdown-siem > li > a:focus {
		background-color: #24A6D8;
		color: white;
	}
}