{% extends "baseForm.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block content %}
<div class="body-header">
	<h1 class="text-center font-bold">Gestión de médicos</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#newMedico" aria-controls="Crear medico" role="tab" data-toggle="tab">Crear médico</a></li>
	<li role="presentation"><a href="#medicos-actuales" aria-controls="Medicos Actuales" role="tab" data-toggle="tab">Consultar médicos</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="newMedico">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="text-center">Crear médico</h2>
			</div>
			<div class="panel-body">
				<form id="MedicoForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
					<div class="col-md-10 col-md-offset-1" id="form-container">
						{% render_form serializer %}
					</div>
				</form>
			</div>
			<div class="panel-footer text-center">
				<div role="group" align="right" aria-label="..."> 
					<button type="reset" form="MedicoForm" id="vaciar_btn" class="btn btn-danger" name="Vaciar" onclick="empty_all()">Vaciar</button>
					<button type="submit" form="MedicoForm" class="btn btn-success" name="Registrar">Registrar</button>
				</div>
			</div><!-- /panel-footer -->
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="medicos-actuales">
		<div class="panel panel-default" style="overflow-x:auto;">
			<div class="panel-header">
				<h2 class="text-center">Consultar médicos</h2>
			</div>
			<!-- Table -->
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>DNI</th>
						<th>Matrícula</th>
						<th>Apellido</th>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<p class="text-center">Mostrando <span id='CurrentPageAmount'>...</span> de <span id='TotalAmount'>...</span> médicos</p>
		<nav aria-label="page navigation">
			<ul id='medicosPager' class="pager">
				<li class="previous"><a link='#'>Anterior</a></li>
				<li class="next"><a link='#'>Siguiente</a></li>
			</ul>
		</nav>
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="MedicoDetailModal" tabindex="-1" role="dialog" aria-labelledby="MedicoDetailModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="MedicoDetailModalLabel">Detalle del médico DNI ...</h4>
			</div>
			<div class="modal-body">
				<p><strong>Matrícula: </strong><span id='MedicoDetailModalMatricula'>...</span></p>
				<p>
					<strong>Nombre completo: </strong><span id='MedicoDetailModalApellido'>...</span>, <span id='MedicoDetailModalNombre'>...</span>
				</p>
				<p><strong>Email: </strong><span id='MedicoDetailModalEmail'>...</span></p>
				<p><strong>Teléfono: </strong><span id='MedicoDetailModalTelefono'>...</span></p>
				<p><strong>Registrado: </strong><span id='MedicoDetailModalRegistrado'>...</span></p>
				<p><strong>Última vez logueado: </strong><span id='MedicoDetailModalLastLogin'>...</span></p>
				<p><strong>Generador: </strong><span id='MedicoDetailModalGenerador'>...</span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="MedicoUpdateModal" tabindex="-1" role="dialog" aria-labelledby="MedicoUpdateModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">Editar médico DNI <span id='MedicoUpdateModalDNI'>...</span></h4>
			</div>
			<div class="modal-body">
				<form id="MedicoUpdateForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
					{% render_form update_serializer %}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="submit" form='MedicoUpdateForm' class="btn btn-success">Editar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="MedicoDeleteModal" tabindex="-1" role="dialog" aria-labelledby="MedicoDeleteModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="MedicoDeleteModalLabel">Eliminar médico</h4>
			</div>
			<div class="modal-body text-center">
				<p>¿Está seguro que quiere eliminar al médico con <strong>DNI: <span id='MedicoDeleteModalDNI'>...</span></strong>?</p>
			</div>
			<div class="modal-footer">
				<form id="MedicoDeleteForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra-JS %}
<!-- <script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script> -->
<!-- <script src='{% static "js/django-cookie-handler.js" %}' type="text/javascript"></script> -->
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script>
	// Set fields layout
	document.getElementsByName('dni')[0].parentNode.classList.add('col-md-4');
	document.getElementsByName('dni')[0].classList.add('font-bold');
	document.getElementsByName('matricula')[0].parentNode.classList.add('col-md-4', 'col-md-offset-2');
	document.getElementsByName('matricula')[0].classList.add('font-bold');
	document.getElementsByName('apellido')[0].parentNode.classList.add('col-md-6');
	document.getElementsByName('nombre')[0].parentNode.classList.add('col-md-6');
	document.getElementsByName('email')[0].parentNode.classList.add('col-md-6');
	document.getElementsByName('telefono')[0].parentNode.classList.add('col-md-6');

	// CONSTANTS
	const medicos_api_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ apiListURL }}';
	const medicos_register_api = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ apiRegisterURL }}';
	const medicos_records = document.querySelector('#medicos-actuales > div > table > tbody');


	// MedicosActualesTab se actualiza al mostrarse
	$('.nav-tabs a[href="#medicos-actuales"]').on('show.bs.tab', event => {
		loadMedicosActuales(medicos_records, medicos_api_url);
	});
	

	function loadMedicosActuales(dest, apiURL) {		
		dest.innerHTML = '';
		
		fetch(apiURL, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			jsonData.results.map((medico) => {
				let newRow = dest.insertRow(dest.rows.length);
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#MedicoDetailModal" title='Detalle'>
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#MedicoUpdateModal" title='Editar'>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#MedicoDeleteModal" title='Eliminar'>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>`
				newRow.innerHTML = `<td>${medico.dni}</td>
									<td>${medico.matricula}</td>
									<td>${medico.usuario.last_name}</td>
									<td>${medico.usuario.first_name}</td>
									<td>${medico.telefono}</td>
									<td>
										<span class='label medico_estado'>
											${medico.estado}
										</span>
									</td>
									<td>${acciones}</td>`;
				colorarEstado(newRow.querySelector('.medico_estado'));
			});
			setPaginationInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count);
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`);
		});
	};


	function colorarEstado(estado_span) {
		if(estado_span.innerText === "Disponible") {
			estado_span.style.backgroundColor = 'green';
		} else if(estado_span.innerText === "No disponible") {
			estado_span.style.backgroundColor = 'silver';
		} else { // En auxilio
			estado_span.style.backgroundColor = 'royalblue';
		}
	}


	function setPaginationInfo(previous, next, currentAmount, totalAmount) {
		document.getElementById('CurrentPageAmount').innerText = currentAmount;
		document.getElementById('TotalAmount').innerText = totalAmount;

		if(previous === null)
			document.querySelector('#medicosPager > .previous').classList.add('disabled');
		else {
			document.querySelector('#medicosPager > .previous').classList.remove('disabled');
			document.querySelector('#medicosPager > .previous > a').link = previous;
		}			
		if(next === null)
			document.querySelector('#medicosPager > .next').classList.add('disabled');
		else {
			document.querySelector('#medicosPager > .next').classList.remove('disabled');
			document.querySelector('#medicosPager > .next > a').link = next;
		}
	}
	

	document.querySelector('#medicosPager > .previous').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadMedicosActuales(medicos_records, clickedButton.link)
	};
	
	document.querySelector('#medicosPager > .next').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadMedicosActuales(medicos_records, clickedButton.link)
	};
	
	
	/*
	 * MedicoDetailModal Handler
	 */
	$('#MedicoDetailModal').on('show.bs.modal', (event) => {
		const clickedButton = $(event.relatedTarget);
		const medico_DNI = clickedButton.closest('tr').find('td:eq(0)').text();

		fetch(`${medicos_api_url}${medico_DNI}`, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			document.getElementById('MedicoDetailModalMatricula').innerText = jsonData.matricula;
			document.getElementById('MedicoDetailModalApellido').innerText = jsonData.usuario.last_name;
			document.getElementById('MedicoDetailModalNombre').innerText = jsonData.usuario.first_name;
			document.getElementById('MedicoDetailModalEmail').innerText = jsonData.usuario.email;
			document.getElementById('MedicoDetailModalTelefono').innerText = jsonData.telefono;
			document.getElementById('MedicoDetailModalRegistrado').innerText = moment(jsonData.usuario.date_joined).format('DD/MM/YY HH:mm:ss');
			document.getElementById('MedicoDetailModalLastLogin').innerText = moment(jsonData.usuario.last_login).format('DD/MM/YY HH:mm:ss');
			document.getElementById('MedicoDetailModalGenerador').innerText = jsonData.generador;
		}).catch(error => {
			console.log(`Error al realizar fetch de detalle del médico DNI ${medico_DNI}: ${error.message}`);
		});

		document.getElementById('MedicoDetailModalLabel').innerText = `Detalle del médico DNI ${medico_DNI}`;
	});


	/*
	 * MedicoUpdateModal Handler
	 */
	$('#MedicoUpdateModal').on('show.bs.modal', (event) => {
		const clickedButton = $(event.relatedTarget);
		const medico_DNI = clickedButton.closest('tr').find('td:eq(0)').text();

		fetch(`${medicos_api_url}${medico_DNI}`, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			document.querySelector('#MedicoUpdateForm > div > input[name="matricula"]').value = jsonData.matricula;
			document.querySelector('#MedicoUpdateForm > div > input[name="apellido"').value = jsonData.usuario.last_name;
			document.querySelector('#MedicoUpdateForm > div > input[name="nombre"').value = jsonData.usuario.first_name;
			document.querySelector('#MedicoUpdateForm > div > input[name="email"').value = jsonData.usuario.email;
			document.querySelector('#MedicoUpdateForm > div > input[name="telefono"').value = jsonData.telefono;
		}).catch(error => {
			console.log(`Error al realizar fetch de detalle del médico DNI ${medico_DNI}: ${error.message}`);
		});
		document.getElementById('MedicoUpdateModalDNI').innerText = medico_DNI;
	});


	/*
	 * MedicoDeleteModal Handler
	 */
	$('#MedicoDeleteModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const medico_DNI = button.closest('tr').find('td:eq(0)').text();
		document.getElementById('MedicoDeleteModalDNI').innerText = medico_DNI;
	});
	

	document.getElementById('MedicoForm').onsubmit = function sendMedico(event) {
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'POST',
			headers: new Headers(header_init),
			body: new FormData(document.getElementById('MedicoForm')),
			credentials: 'same-origin'
		};

		fetch(medicos_register_api, fetchOptions).then(response => {
			response.json()
			.then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">Médico DNI ${jsonData.dni} fue registrado
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`;

					// Empty Solicitud form
					document.getElementById('MedicoForm').reset();

					// Switch to médicos-actuales Tab
					$('.nav-tabs a[href="#medicos-actuales"]').tab('show');
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				}
			});
		});
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};


	document.getElementById('MedicoUpdateForm').onsubmit = function editarMedico(event) {
		event.preventDefault(); // Evita el auto-envío del botón
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'PUT',
			headers: new Headers(header_init),
			body: new FormData(document.getElementById('MedicoUpdateForm')),
			credentials: 'same-origin'
		};
		const medico_DNI = document.getElementById('MedicoUpdateModalDNI').innerText;

		fetch(`${medicos_api_url}${medico_DNI}/edit`, fetchOptions).then(response => {
			response.json()
			.then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">Los datos del médico DNI ${medico_DNI} fueron actualizados
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`;

					loadMedicosActuales(medicos_records, medicos_api_url);
					$('#MedicoUpdateModal').modal('hide');
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				}
			});
		});
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};
	
	
	document.getElementById('MedicoDeleteForm').onsubmit = function deleteMedico(event) {
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'DELETE',
			headers: new Headers(header_init),
			credentials: 'same-origin'
		};
		
		const medico_DNI = document.getElementById('MedicoDeleteModalDNI').innerText;
		const url = `${medicos_api_url}${medico_DNI}`;

		fetch(url, fetchOptions).then(response => {
			if(response.ok) {
				// Mostrar mensaje de éxito
				document.querySelector('.messages').innerHTML = `
				<div class="alert alert-dismissable fade in alert-success">Médico con DNI: ${medico_DNI} fue eliminado
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
				loadMedicosActuales(medicos_records, medicos_api_url);
				$('#MedicoDeleteModal').modal('hide');
			} else {
				response.json()
				.then(jsonData => {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				});
			}
		});
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};
</script>
{% endblock extra-JS %}