{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<link href='{% static "css/mapa.css" %}' rel="stylesheet"/>
		<link href='{% static "css/bootstrap-3.3.7.min.css" %}' rel="stylesheet"/>
	</head>
	<body>
		<div id="map"></div>
		<script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
		<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
		<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
		<script>
			// Global variables
			const url = new URL(location.href)
			const mostrar_auxilios = url.searchParams.getAll('mostrar').indexOf('auxilios') > -1
			const mostrar_clusteres = url.searchParams.getAll('mostrar').indexOf('clusteres') > -1
			const mostrar_moviles = url.searchParams.getAll('mostrar').indexOf('moviles') > -1
			let bounds, map
			const iconos_mapa = [{
					'label': 'Disponible',
					'icon': '{% static "img/medico_disponible.png" %}'
				}, {
					'label': 'No disponible',
					'icon': '{% static "img/medico_no_disponible.png" %}'
				}, {
					'label': 'En auxilio',
					'icon': '{% static "img/medico_en_auxilio.png" %}'
				}
			]
			const markers = {
				auxilios: new Array(),
				medicos: new Array()
			}
			const infoWindows = {
				auxilios: new Array(),
				medicos: new Array()
			}

			// Inicializar moment en español
			moment.updateLocale('en', {
				relativeTime : {
						future: "en %s",
						past:   "hace %s",
						s  : 'pocos segundos',
						ss : '%d segundos',
						m:  "un minuto",
						mm: "%d minutos",
						h:  "una hora",
						hh: "%d horas",
						d:  "un día",
						dd: "%d días",
						M:  "un mes",
						MM: "%d meses",
						y:  "un año",
						yy: "%d años"
				}
			})

			function setMap() {
				const map_options = { mapTypeId: google.maps.MapTypeId.ROADMAP }
				bounds  = new google.maps.LatLngBounds()
				map = new google.maps.Map(document.getElementById('map'), map_options)
				if(mostrar_moviles)
					loadUbicacionMedicos(url.origin, mostrar_clusteres)
				if(mostrar_auxilios) {
					loadUbicacionAuxiliosActivos(url.origin, mostrar_clusteres)
				}
				map.fitBounds(bounds)
			}

			async function loadUbicacionMedicos(host_url, mostrar_clusteres) {
				const api_url = host_url + "{% url 'medicos-api:ubicaciones_list' %}"
				
				await fetch(api_url, getAuthorizedFetchOption())
				.then(response => {
					return checkStatus(response)})
				.then(response => {
					return response.json()})
				.then(jsonData => {
					jsonData.map((medico) => { marcarMedicoMapa(medico) })
					if(mostrar_clusteres) {
						// Add a marker clusterer to manage the markers.
						new MarkerClusterer(map, markers.medicos, {
							averageCenter: true,
							gridSize: 40,
							imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
						})
					}
				})
				.catch(error => {
					console.log(`Error al realizar fetch a ${api_url}: ${error.message}`)
				})
				map.fitBounds(bounds)
			}

			function marcarMedicoMapa(medico) {
				if (medico.latitud_gps !== null && medico.longitud_gps !== null) {
					const pos = new google.maps.LatLng(medico.latitud_gps, medico.longitud_gps)
					const tiempo = medico.timestamp_gps ? moment(medico.timestamp_gps).fromNow() : 'Indefinida'
					const icono = medico.estado == iconos_mapa[0].label ? iconos_mapa[0].icon : medico.estado == iconos_mapa[2].label ? iconos_mapa[2].icon : iconos_mapa[1].icon

					bounds.extend(pos)
					const marker = new google.maps.Marker({
						position: pos,
						map: map,
						icon: icono,
						title: `DNI: ${medico.dni}\nÚltima ubicación recibida: ${tiempo}`
					})
					const window = new google.maps.InfoWindow({
						content: get_content_medico(medico)
					})
					marker.addListener('click', function() { window.open(map, marker) })
					markers.medicos.push(marker)
					infoWindows.medicos.push(window)
				}
			}

			async function loadUbicacionAuxiliosActivos(host_url, mostrar_clusteres) {
				const api_url = host_url + "{% url 'aux_ubicaciones_list'%}?estado=1&estado=2"
				
				await fetch(api_url, getAuthorizedFetchOption())
				.then(response => {
					return checkStatus(response)})
				.then(response => {
					return response.json()})
				.then(jsonData => {
					jsonData.map((auxilio) => { marcarAuxilioMapa(auxilio) })
					if(mostrar_clusteres) {
						// Add a marker clusterer to manage the markers.
						new MarkerClusterer(map, markers.auxilios, {
							imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
						})
					}
				})
				.catch(error => {
					console.log(`Error al realizar fetch a ${api_url}: ${error.message}`)
				})
				map.fitBounds(bounds)
			}

			function marcarAuxilioMapa(auxilio) {
				const pos = new google.maps.LatLng(auxilio.latitud, auxilio.longitud)
				bounds.extend(pos)
				const marker = new google.maps.Marker({
					animation: google.maps.Animation.DROP,
					label: auxilio.estado.charAt(0),
					map: map,
					position: pos,
					title: `Auxilio #${auxilio.id}\nDirección: ${auxilio.direccion}\nEstado: ${auxilio.estado}\n`
				})
				const window = new google.maps.InfoWindow({
					content: get_content_auxilio(auxilio)
				})
				marker.addListener('click', function() { window.open(map, marker) })
				markers.auxilios.push(marker)
				infoWindows.auxilios.push(window)
			}

			function get_content_auxilio(auxilio) {
				if(auxilio.medicos.length > 0) {
					return `<strong>Auxilio #${auxilio.id}</strong><br>
							<strong>Categoría</strong>: 
								<span class='label' style='background-color:${auxilio.categoria.color}'>
									${auxilio.categoria.descripcion}
								</span>
								<span class='badge prioridad'>
									${auxilio.prioridad}
								</span>
							<br>
							<strong>Dirección</strong>: <em>${auxilio.direccion}</em><br>
							<strong>Estado actual</strong>: ${auxilio.estado}<br>
							<strong>Medico/s: </strong> ${auxilio.medicos}`
				} else {
					return `<strong>Auxilio #${auxilio.id}</strong><br>
							<strong>Categoría</strong>: 
								<span class='label' style='background-color:${auxilio.categoria.color}'>
									${auxilio.categoria.descripcion}
								</span>
								<span class='badge prioridad'>
									${auxilio.prioridad}
								</span>
							<br>
							<strong>Dirección</strong>: <em>${auxilio.direccion}</em><br>
							<strong>Estado actual</strong>: ${auxilio.estado}`
				}
			}

			function get_content_medico(medico) {
				const timestamp = medico.timestamp_gps ? moment(medico.timestamp_gps).fromNow() : 'Indefinida'

				if(medico.estado === 'En auxilio') {
					let content = `<strong>Médico DNI</strong>: ${medico.dni}<br>
								<strong>Estado actual</strong>: ${medico.estado}  <em>#${medico.auxilio_en_curso.auxilio}</em><br>
								<strong>Última ubicación recibida</strong>: <em>${timestamp}</em>`
					if(medico.auxilio_en_curso.estimacion)
						content += `<br><strong>Distancia a destino</strong>: ${medico.auxilio_en_curso.estimacion.distancia}<br>
									<strong>Tiempo estimado de arrivo</strong>: ${medico.auxilio_en_curso.estimacion.tiempo}`
					return content
				} else {
					return `<strong>Médico DNI</strong>: ${medico.dni}<br>
							<strong>Estado actual</strong>: ${medico.estado}<br>
							<strong>Última ubicación recibida</strong>: <em>${timestamp}</em>`
				}
			}
		</script>
		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVbsfkt6Rl3hIn7p8Dt6JhaKSz5GjfDCw&language=es&region=AR&callback=setMap"></script>
	</body>
</html>