{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="body-header">
	<h1 class="text-center font-bold">Gestión de auxilios</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#newAuxilio" aria-controls="Crear auxilio" role="tab" data-toggle="tab">Crear auxilio</a></li>
	<li role="presentation"><a href="#auxilios-actuales" aria-controls="Consultar auxilios actuales" role="tab" data-toggle="tab">Consultar auxilios actuales</a></li>
	<li role="presentation"><a href="#auxilios-finalizados" aria-controls="Consultar auxilios finalizados" role="tab" data-toggle="tab">Consultar auxilios finalizados</a></li>
	<li role="presentation"><a href="#auxilios-moviles-mapa" aria-controls="Consultar mapa de móviles" role="tab" data-toggle="tab">Consultar mapa de móviles</a></li>
</ul>

<div class="tab-content"><!-- Tab panes -->
	<div role="tabpanel" class="tab-pane fade in active" id="newAuxilio">
		<div class="panel panel-default" id="css_footer">
			<div class="panel-header">
				<h2 class="text-center">Crear solicitud de auxilio</h2>
			</div>
			<div class="panel-body">
				<form id="SolicitudForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
					<div class="col-md-10 col-md-offset-1" id="form-container">
						{{ form|crispy }}
					</div>
				</form>
			</div><!-- /panel-body -->
			<div class="panel-footer text-center">
				<div role="group" align="right" aria-label="..."> 
					<button type="reset" form="SolicitudForm" id="vaciar_btn" class="btn btn-danger" name="Vaciar" onclick="empty_all()">Vaciar</button>
					<button type="submit" form="SolicitudForm" class="btn btn-success" name="Crear">Crear</button>
				</div>
			</div><!-- /panel-footer -->
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-actuales">
		<div class="panel panel-default" style="overflow-x:auto;"><!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Auxilios actuales
					</div>						
					<div class="col-md-2">
						<button id='refresh_auxilios-actuales' type="button" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<!-- Table -->
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Nro</th>
						<th>Ingresado</th>
						<th>Ubicación</th>
						<th>Estado</th>
						<th>Categorización</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<p class="text-center">Mostrando <span id='AACurrentPageAmount'>...</span> de <span id='AATotalAmount'>...</span> auxilios</p>
		<nav aria-label="page navigation">
			<ul id='auxiliosActivosPager' class="pager">
				<li class="previous"><a link='#'>Anterior</a></li>
				<li class="next"><a link='#'>Siguiente</a></li>
			</ul>
		</nav>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-finalizados">
		<div class="panel panel-default" style="overflow-x:auto;">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Auxilios finalizados
					</div>						
					<div class="col-md-2">
						<button id='refresh_auxilios-finalizados' type="button" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<!-- Table -->
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Nro</th>
						<th>Ingresado</th>
						<th>Finalizado</th>
						<th>Ubicación</th>
						<th>Estado</th>
						<th>Categorización</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<p class="text-center">Mostrando <span id='AFCurrentPageAmount'>...</span> de <span id='AFTotalAmount'>...</span> auxilios</p>
		<nav aria-label="page navigation">
			<ul id='auxiliosFinalizadosPager' class="pager">
				<li class="previous"><a link='#'>Anterior</a></li>
				<li class="next"><a link='#'>Siguiente</a></li>
			</ul>
		</nav>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-moviles-mapa">
		<div class="panel panel-default" style="overflow-x:auto;">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Mapa de móviles
					</div>						
					<div class="co l-md-2">
						<button id='refresh_auxilios-moviles-mapa' type="button" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<div> 
				<iframe width="100%" height="500" frameborder="1" src="/auxilios-moviles-mapa"></iframe>                
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="AuxilioDetailModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioDetailModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="AuxilioDetailModalLabel">Detalle del auxilio #...</h4>
			</div>
			<div class="modal-body">
				<p><strong>Ingresado: </strong><span id='AuxilioDetailModalIngresado'>...</span></p>
				<p><strong>Cantidad de pacientes: </strong><span id='AuxilioDetailModalCantPacientes'>...</span></p>
				<p><strong>Ubicación: </strong><span id='AuxilioDetailModalUbicacion'>...</span></p>
				<p><strong>Motivo: </strong><span id='AuxilioDetailModalMotivo'>...</span></p>
				<p><strong>Estado actual: </strong><span id='AuxilioDetailModalEstadoActual'>...</span></p>
				<p><strong>Categorización: </strong><span id='AuxilioDetailModalCategorizacion' class='label'>...</span></p>
				<p><strong>Última actualización: </strong><span id='AuxilioDetailModalUltimaActualizacion'>...</span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="AuxilioUpdateModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioUpdateModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">Editar auxilio Nro <span id='AuxilioUpdateModalID'>...</span></h4>
			</div>
			<div class="modal-body">
				<form id="AuxilioUpdateForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="submit" form='AuxilioUpdateForm' class="btn btn-success">Editar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="AuxilioDeleteModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioDeleteModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="AuxilioDeleteModalLabel">Cancelar auxilio</h4>
			</div>
			<div class="modal-body text-center">
				<p>¿Está seguro que quiere cancelar el auxilio <strong>#<span id='AuxilioDeleteModalID'>...</span></strong>?</p>
			</div>
			<div class="modal-footer">
				<form id="AuxilioDeleteForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success">Aceptar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra-JS %}{{ block.super }}
<!--<script src='{% static "js/USIG-3.1-AutoCompleterFull.min.js" %}' type="text/javascript"></script>-->
<!-- <script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script>
	// Set fields layout
	document.getElementById('div_id_contacto').classList.add('col-md-3');
	document.getElementById('div_id_nombre').classList.add('col-md-4');
	document.getElementById('div_id_sexo').classList.add('col-md-1');
	document.getElementById('div_id_cantidad_pacientes').classList.add('col-md-2', 'col-md-offset-2');
	document.getElementById('div_id_ubicacion').classList.add('col-md-8');
	document.getElementById('div_id_ubicacion_especifica').classList.add('col-md-4');
	document.getElementById('div_id_ubicacion_coordenadas').setAttribute('hidden', 'hidden');
	document.getElementById('div_id_observaciones').classList.add('col-md-12');
	document.getElementById('id_cantidad_pacientes').classList.add('text-center', 'font-bold');
	

	// Add 'Motivo' field
	const div_motivo = document.createElement('div');
	div_motivo.id = 'div_id_motivo';
	div_motivo.classList.add('form-group', 'col-md-8');
	div_motivo.innerHTML = `
		<label class="control-label  requiredField">
			Motivo<span class="asteriskField">*</span>
		</label>
		<div class="controls" style="max-height: 190px;	overflow-y: auto;">
			<div class="list-group"></div>	
		</div>`
	document.getElementById('form-container').insertBefore(div_motivo, document.getElementById('div_id_observaciones'));
	

	// Add 'Motivo resumen' field
	const div_motivo_resumen = document.createElement('div');
	div_motivo_resumen.id = 'div_id_motivo_resumen';
	div_motivo_resumen.classList.add('form-group', 'col-md-4',);
	div_motivo_resumen.innerHTML = `
		<label for="id_motivo_resumen" class="control-label">Motivos seleccionados</label>
		<div class="controls" style="max-height: 190px;	overflow-y: auto;">
			<p id="resumen-empty-msg" class='text-left' style="padding-top: 4%;">Ningún motivo seleccionado</p>
			<ul class="list-group"></ul>
		</div>`
	document.getElementById('form-container').insertBefore(div_motivo_resumen, document.getElementById('div_id_observaciones'));

	
	/*
	 * CONSTANTS
	 */
	const host_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}'
	const auxilios_api_url = host_url + '{{ auxilios_api }}';
	const solicitudes_api_url = host_url + '{{ solicitudes_api }}';
	const vdfda_api_url = host_url + '{{ vdfda_api }}';
	const vdfdpc_api_url = host_url + '{{ vdfdpc_api }}';
	const auxiliosActualesRecords = document.querySelector('#auxilios-actuales > div > table > tbody');
	const auxiliosFinalizadosRecords = document.querySelector('#auxilios-finalizados > div > table > tbody');
	const auxiliosMovilesMapaRecords = document.querySelector('#auxilios-moviles-mapa > div > table > tbody');


	// Initial JSON data Retrieve
	loadFormattedValoresDeFactores(div_motivo.querySelector(".controls > .list-group"), vdfdpc_api_url, vdfda_api_url);
	
	// Refresh buttons
	document.getElementById('refresh_auxilios-actuales').onclick = event => {
		loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url);
	}
	document.getElementById('refresh_auxilios-finalizados').onclick = event => {
		loadAuxiliosHistoricos(auxiliosFinalizadosRecords, auxilios_api_url);
	}
	document.getElementById('refresh_auxilios-moviles-mapa').onclick = event => {
		// loadAuxiliosHistoricos(auxiliosMovilesMapaRecords, auxilios_api_url);
	}
	
	// AuxiliosActualesTab y AuxiliosFinalizadosTab se actualizan al mostrarse
	$('.nav-tabs a[href="#auxilios-actuales"]').on('show.bs.tab', event => {
		loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url);
	});
	$('.nav-tabs a[href="#auxilios-finalizados"]').on('show.bs.tab', event => {
		loadAuxiliosHistoricos(auxiliosFinalizadosRecords, auxilios_api_url);
	});
	$('.nav-tabs a[href="#auxilios-moviles-mapa"]').on('show.bs.tab', event => {
		// loadAuxiliosHistoricos(auxiliosMovilesMapaRecords, auxilios_api_url);
	});
	// ----------------------------------------------------------------------------------------


	function checkStatus(response) {
		if(response.ok)
			return Promise.resolve(response);
		else
			return Promise.reject(new Error(response.statusText));
	};


	function loadFormattedValoresDeFactores(dest, ...apiURLs) {
		Promise
			.all(apiURLs.map(url =>
				fetch(url)
				.then(response => checkStatus(response))
				.then(response => response.json())
			)).then(all_json => all_json.forEach(jsonData => {
				let motivo_content = ''
	
				if(Object.keys(jsonData.results)) {
					Object.keys(jsonData.results).map((factor) => {
						motivo_content += `<a class="list-group-item"><strong class="list-group-item-heading">${factor}</strong>`
						let radios = '<p class="list-group-item-text">'
						jsonData.results[factor].map((valor) => {
							radios += `<input form="none" onclick="updateResumen(this)" style="margin-left: 2%" type="radio" name="${factor}" value="${valor}"/> ${valor}`
						});
						radios += `<input form="none" onclick="updateResumen(this)" style="margin-left: 2%" type="radio" name="${factor}" value="Sin información" checked/> Sin información`
						motivo_content += `${radios}</p></a>`
					})
				}
	
				dest.innerHTML += motivo_content
			})).catch(error => console.log(error.message))
		/*
		apiURLs.forEach(url => {
			fetch(url).then(response => {
				return checkStatus(response);
			}).then(response => {
				return response.json();
			}).then(jsonData => {
				let motivo_content = ''
	
				if(Object.keys(jsonData.results)) {
					Object.keys(jsonData.results).map((factor) => {
						motivo_content += `<a class="list-group-item"><strong class="list-group-item-heading">${factor}</strong>`;
						let radios = '<p class="list-group-item-text">';
						jsonData.results[factor].map((valor) => {
							radios += `<input form="none" onclick="updateResumen(this)" style="margin-left: 2%" type="radio" name="${factor}" value="${valor}"/> ${valor}`;
						});
						radios += `<input form="none" onclick="updateResumen(this)" style="margin-left: 2%" type="radio" name="${factor}" value="Sin información" checked/> Sin información`;
						motivo_content += `${radios}</p></a>`;
					});
				}
	
				dest.innerHTML += motivo_content;
			}).catch(error => {
				console.log(error.message);
			});
		})*/
	};


	function loadAuxiliosActuales(dest, apiURL) {
		dest.innerHTML = '';
		fetch(apiURL + '?estado=1,2').then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			jsonData.results.map((aux) => {
				let newRow = dest.insertRow(dest.rows.length);
				const date = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDetailModal" title='Detalle'>
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioUpdateModal" title='Modificar auxilio'>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDeleteModal" title='Cancelar auxilio'>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>`
				newRow.innerHTML = `<td>${aux.id}</td>
									<td>${date}</td>
									<td>${aux.solicitud.ubicacion}</td>
									<td>${aux.estados[0].estado}</td>
									<td>
										<span class='label' style='background-color:${aux.categoria.color}'>
											${aux.categoria.descripcion}
										</span>
										<span class='badge' style='background-color:#000000;margin-left:5%'>
											${aux.prioridad}
										</span>
									</td>
									<td>${acciones}</td>`;
			});
			setPaginationAAInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count);
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`);
		});
	};


	function loadAuxiliosHistoricos(dest, apiURL) {
		dest.innerHTML = '';
		fetch(apiURL + '?estado=3,4').then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			jsonData.results.map((aux) => {
				let newRow = dest.insertRow(dest.rows.length);
				const inicial = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
				// const final = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss'); /* TODO: cambiar a FINAL */
				const final = moment(aux.estados[0].fecha).format('DD/MM/YY HH:mm:ss');
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDetailModal" title='Detalle'>
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>`;				
				newRow.innerHTML = `<td>${aux.id}</td>
									<td>${inicial}</td>
									<td>${final}</td>
									<td>${aux.solicitud.ubicacion}</td>
									<td>${aux.estados[0].estado}</td>
									<td>
										<span class='label' style='background-color:${aux.categoria.color}'>
											${aux.categoria.descripcion}
										</span>
										<span class='badge' style='background-color:#000000;margin-left:5%'>
											${aux.prioridad}
										</span>
									</td>
									<td>${acciones}</td>`;
			});
			setPaginationAFInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count);
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`);
		});
	};


	function setPaginationAAInfo(previous, next, currentAmount, totalAmount) {
		document.getElementById('AACurrentPageAmount').innerText = currentAmount;
		document.getElementById('AATotalAmount').innerText = totalAmount;

		if(previous === null)
			document.querySelector('#auxiliosActivosPager > .previous').classList.add('disabled');
		else {
			document.querySelector('#auxiliosActivosPager > .previous').classList.remove('disabled');
			document.querySelector('#auxiliosActivosPager > .previous > a').link = previous;
		}			
		if(next === null)
			document.querySelector('#auxiliosActivosPager > .next').classList.add('disabled');
		else {
			document.querySelector('#auxiliosActivosPager > .next').classList.remove('disabled');
			document.querySelector('#auxiliosActivosPager > .next > a').link = next;
		}
	}

	document.querySelector('#auxiliosActivosPager > .previous').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosActuales(auxiliosActualesRecords, clickedButton.link)
	};
	document.querySelector('#auxiliosActivosPager > .next').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosActuales(auxiliosActualesRecords, clickedButton.link)
	};


	function setPaginationAFInfo(previous, next, currentAmount, totalAmount) {
		document.getElementById('AFCurrentPageAmount').innerText = currentAmount;
		document.getElementById('AFTotalAmount').innerText = totalAmount;

		if(previous === null)
			document.querySelector('#auxiliosFinalizadosPager > .previous').classList.add('disabled');
		else {
			document.querySelector('#auxiliosFinalizadosPager > .previous').classList.remove('disabled');
			document.querySelector('#auxiliosFinalizadosPager > .previous > a').link = previous;
		}			
		if(next === null)
			document.querySelector('#auxiliosFinalizadosPager > .next').classList.add('disabled');
		else {
			document.querySelector('#auxiliosFinalizadosPager > .next').classList.remove('disabled');
			document.querySelector('#auxiliosFinalizadosPager > .next > a').link = next;
		}
	}
	
	document.querySelector('#auxiliosFinalizadosPager > .previous').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosHistoricos(auxiliosFinalizadosRecords, clickedButton.link)
	};
	document.querySelector('#auxiliosFinalizadosPager > .next').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosHistoricos(auxiliosFinalizadosRecords, clickedButton.link)
	};


	function crearBotonConValor(factor, valor, is_checked, style) {
		if(is_checked)
			return `<input form="none" onclick="updateResumen(this)" style="${style}" type="radio" name="${factor}" value="${valor}" checked />${valor}`;
		else
			return `<input form="none" onclick="updateResumen(this)" style="${style}" type="radio" name="${factor}" value="${valor}"/>${valor}`;
	};


	/*
	 * AuxilioDetailModal Handler
	 */
	$('#AuxilioDetailModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const auxilioID = button.closest('tr').find('td:eq(0)').text();

		fetch(`${auxilios_api_url}${auxilioID}`).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			document.getElementById('AuxilioDetailModalIngresado').innerText = moment(jsonData.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
			document.getElementById('AuxilioDetailModalCantPacientes').innerText = jsonData.solicitud.cantidad_pacientes;
			document.getElementById('AuxilioDetailModalUbicacion').innerText = jsonData.solicitud.ubicacion;
			document.getElementById('AuxilioDetailModalMotivo').innerHTML = getMotivoFromJSON(jsonData.solicitud.motivo);
			document.getElementById('AuxilioDetailModalEstadoActual').innerText = jsonData.estados[0].estado;
			const categoria = document.getElementById('AuxilioDetailModalCategorizacion');
			categoria.innerText = jsonData.categoria.descripcion;
			categoria.style.backgroundColor = jsonData.categoria.color;
			document.getElementById('AuxilioDetailModalUltimaActualizacion').innerText = moment(jsonData.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
		}).catch(error => {
			console.log(`Error al realizar fetch de detalle del auxilio #${auxilioID}: ${error.message}`);
		});

		document.getElementById('AuxilioDetailModalLabel').innerText = `Detalle del auxilio #${auxilioID}`;
	});


	/*
	 * AuxilioDeleteModal Handler
	 */
	$('#AuxilioDeleteModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const auxilioID = button.closest('tr').find('td:eq(0)').text();
		document.getElementById('AuxilioDeleteModalID').innerText = auxilioID;
	});


	function getMotivoFromJSON(motivoJSON){
		let resultado = '<ul class="list-group">', motivo = JSON.parse(motivoJSON);
		for(let factor in motivo){
			resultado += `<li class="list-group-item"><strong>${factor}: </strong>${motivo[factor]}</li>`;
		}
		resultado += '</ul>';
		return resultado;
	};

	
	/*
	 *    Google Maps API
	 * -- from: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
	 * -- Autocompleter and Geocoder --
	 */
	let autocomplete;

	function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('id_ubicacion'), { types: ['geocode'] }
		);
		autocomplete.addListener('place_changed', completarDireccion);
	};

	function completarDireccion() {
		const place = autocomplete.getPlace();
		const coordenates = place.geometry.location.toString();
		// var lat = place.geometry.location.lat();
		// var lng = place.geometry.location.lng();
		document.getElementById('id_ubicacion_coordenadas').value = coordenates;
	};
	// -----------------------------------------------------------------------
	/*
	 *    USIG 3.1 AutoCompleter
	 *	  from: https://usig.buenosaires.gob.ar/
	 * -- usado para buscador de calles y coordenadas --
	 */
	// const ac = new usig.AutoCompleter('id_ubicacion', {
	// 	skin: 'bootstrap',
	// 	afterGeoCoding: function (punto) {
	// 		if(punto instanceof usig.Punto) {
	// 			let headers = new Headers();
	// 			headers.set('Accept', 'application/json');
	// 			const url = `http://ws.usig.buenosaires.gob.ar/rest/convertir_coordenadas?x=${punto.getX()}&y=${punto.getY()}&output=lonlat`;
	// 			const fetchOptions = {
	// 				method: 'GET',
	// 				headers,
	// 				mode: 'no-cors',
	// 			};

	// 			fetch(url, fetchOptions)/*.then(response => { //TODO: error at response.ok === false
	// 				return checkStatus(response);
	// 			})*/.then(response => {
	// 				return response.json(); // TODO: error when parsing
	// 			}).then(jsonData => {
	// 				console.log('Respuesta LONLAT: ', jsonData);
	// 				if(jsonData.tipo_resultado === 'Ok'){
	// 					document.getElementById('id_ubicacion_coordenadas').value = jsonData.resultado;
	// 					console.log('Resultado lonlat correcto: ', jsonData.resultado);
	// 				}
	// 				else {
	// 					console.log('Error al convertir las coordenadas de WGS84 a lonlat');
	// 				}					
	// 			}).catch(error => {
  	// 				console.log(`Error al realizar fetch a "${url}": ${error.message}`);
	// 			});
	// 		}
	// 	}
	// });


	function updateResumen(radioClicked) {
		const resumen_ul = document.querySelector('#div_id_motivo_resumen > div > ul');
		let li = resumen_ul.querySelector(`[data-factor="${radioClicked.name}"]`);
		const ul_empty_msg = document.getElementById('resumen-empty-msg');
		
		if(li) { // Si existe un elemento del mismo factor
			if(radioClicked.value === "Sin información") {
				li.remove();
				if(resumen_ul.childElementCount === 0) {
					ul_empty_msg.style.display = 'block';
				}
			} else {
				li.querySelector('.value').innerHTML = radioClicked.value;
			}
		} else { // Si no existe, creo un nuevo elemento
			if(ul_empty_msg.style.display !== 'none') {
				ul_empty_msg.style.display = 'none';
			}
			li = document.createElement('li');
			li.classList.add('list-group-item');
			li.setAttribute('data-factor', radioClicked.name);
			li.innerHTML = `<span class="factor"><strong>${radioClicked.name}:</strong></span>
							<span class="value"> ${radioClicked.value}</span>
							<button type="button" class="close" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>`;
			li.querySelector('button').onclick = (event) => { event.stopPropagation(); removeLi(resumen_ul, li, ul_empty_msg)};
			resumen_ul.appendChild(li);
		}
	}
	

	function removeLi(ul_container, li, empty_msg) {
		const name = li.getAttribute('data-factor');
		document.querySelector(`input[name="${name}"][value="Sin información"]`).checked = true;
		li.remove();
		if(ul_container.childElementCount === 0)
			empty_msg.style.display = 'block';
	};


	function empty_all() {
		document.querySelector('#div_id_motivo_resumen > div > ul').innerHTML = ''; // Vaciado de resumen de motivo
		document.getElementById('resumen-empty-msg').style.display = 'block'; // Mostrar mensaje de resumen vacio
		document.querySelectorAll('[form="none"]').forEach(radio => { // Marcado de "Sin información" para todos los radioButton
			if(radio.value === "Sin información") {
				radio.checked = true;
			}
		});
	};


	/*
	 *    Django Documentarion 1.11 cookie handler
	 *	  from: https://docs.djangoproject.com/en/1.11/ref/csrf/
	 */
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}


	function isStreetAddress(placeType) {
		return placeType === 'street_address';
	}


	document.getElementById('SolicitudForm').onsubmit = function sendSolicitud(event) {
		document.querySelector('.messages').innerHTML = '';

		if(typeof autocomplete.getPlace() === 'undefined' || !autocomplete.getPlace().types.find(isStreetAddress)){
			document.getElementById('id_ubicacion_coordenadas').value = '';
			document.querySelector('.messages').innerHTML = `
				<div class="alert alert-dismissable fade in alert-danger">La ubicación ingresada no posee CALLE o ALTURA
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
			event.preventDefault();
			window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
			return;
		}
		
		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		let formData = new FormData(document.getElementById('SolicitudForm'));

		// Completado de MOTIVO en JSON
		const resumen_list = document.querySelector('#div_id_motivo_resumen > div > ul');
		if(resumen_list.childElementCount !== 0) {
			let motivo_obj = {};
			document.querySelector('#div_id_motivo_resumen > div > ul').childNodes.forEach(node => {
				const factor = node.querySelector('.factor > strong').innerText.replace(':', '');
				const valor = node.querySelector('.value').innerText;
				motivo_obj[factor] = valor;
			});
			formData.append('motivo', JSON.stringify(motivo_obj));
		}

		let fetchOptions = {
			method: 'POST',
			headers: new Headers(header_init),
			body: formData,
			credentials: 'same-origin'
		};

		fetch(solicitudes_api_url, fetchOptions).then(response => {
			response.json().then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">Auxilio #${jsonData.id} fue creado
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`;

					// Empty Solicitud form
					document.getElementById('SolicitudForm').reset();

					// Reset radio buttons to default
					document.querySelectorAll('[form="none"]').forEach(radio => {
						if(radio.value === "Sin información") {
							radio.checked = true;
						}
					});

					// Switch to auxilios-actuales tab
					$('.nav-tabs a[href="#auxilios-actuales"]').tab('show');
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger"> ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				}
			});
		});
		// empty_all(); // Vaciar formulario
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};


	document.getElementById('AuxilioDeleteForm').onsubmit = function deleteAuxilio(event) {
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'Content-Type': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'PUT',
			headers: new Headers(header_init),
			credentials: 'same-origin',
			body: JSON.stringify({'estados': [{'estado': '3'}]})
		};
		
		const auxilioID = document.getElementById('AuxilioDeleteModalID').innerText;
		const url = `${auxilios_api_url}${auxilioID}/estadoUpdate/`;

		fetch(url, fetchOptions).then(response => {
			if(response.ok) {
				// Mostrar mensaje de éxito
				document.querySelector('.messages').innerHTML = `
				<div class="alert alert-dismissable fade in alert-success">El auxilio #${auxilioID} fue cancelado
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
				loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url);
				$('#AuxilioDeleteModal').modal('hide');
			} else {
				response.json()
				.then(jsonData => {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${key}: ${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				});
			}
		});
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVbsfkt6Rl3hIn7p8Dt6JhaKSz5GjfDCw&language=es&region=AR&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock extra-JS %}