{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra-CSS %}{{ block.super }}
<link href='{% static "css/bootstrap-datepicker3.min.css" %}' rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="body-header">
	<h1 class="text-center font-bold">Gestión de auxilios</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#newAuxilio" aria-controls="Crear auxilio" role="tab" data-toggle="tab">Crear auxilio</a></li>
	<li role="presentation"><a href="#auxilios-actuales" aria-controls="Consultar auxilios actuales" role="tab" data-toggle="tab">Consultar auxilios actuales</a></li>
	<li role="presentation"><a href="#auxilios-finalizados" aria-controls="Consultar auxilios finalizados" role="tab" data-toggle="tab">Consultar auxilios finalizados</a></li>
	<li role="presentation"><a href="#auxilios-moviles-mapa" aria-controls="Consultar mapa de móviles" role="tab" data-toggle="tab">Consultar mapa de móviles</a></li>
</ul>

<div class="tab-content"><!-- Tab panes -->
	<div role="tabpanel" class="tab-pane fade in active" id="newAuxilio">
		<div class="panel panel-default" id="css_footer">
			<div class="panel-header">
				<h2 class="text-center">Crear solicitud de auxilio</h2>
			</div>
			<div class="panel-body">
				<form id="SolicitudForm" class="form-group" method='POST' enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
					<div class="col-md-10 col-md-offset-1" id="form-container">
						{{ form|crispy }}
					</div>
				</form>
			</div><!-- /panel-body -->
			<div class="panel-footer text-center">
				<div role="group" align="right" aria-label="..."> 
					<button type="reset" form="SolicitudForm" id="vaciar_btn" class="btn btn-danger" name="Vaciar" onclick="empty_all()">Vaciar</button>
					<button type="submit" form="SolicitudForm" class="btn btn-success" name="Crear">Crear</button>
				</div>
			</div><!-- /panel-footer -->
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-actuales">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Auxilios actuales
					</div>
					<div class="col-md-2">
						<button id='refresh_aa' type="button" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<!-- Table -->
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Nro</th>
						<th>Ingresado</th>
						<th>Ubicación</th>
						<th>Estado</th>
						<th>Categorización</th>
						<th>Acciones</th>
					</tr>
					<tr class="filter-row">
						<th></th>
						<th>
							<input id='filtro_desde_aa' class='form-control filtro' name ='desde' placeholder='Desde' type='text'>
							<input id='filtro_hasta_aa' class='form-control filtro' name ='hasta' placeholder='Hasta' type='text'>
						<th>
							<input id="filtro_ubicacion_aa" class="form-control filtro" type="text" name="search" placeholder="Filtrar por ubicación">
						</th>
						<th>
							<select id="filtro_estado_aa" class="form-control select filtro" name="estado">
								<option value="" selected="">TODOS</option>
								<option value="1">Pendiente</option>
								<option value="2">En curso</option>
							</select>
						</th>
						<th>
							<select id="filtro_categoria_aa" class="form-control select filtro" name="categoria">
								<option value="" selected="">TODOS</option>
								{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
								{% endfor %}
							</select>
						</th>
						<th>
							<button id="filter_aa" type="button" class="btn btn-warning">Filtrar</button>
							<button type="button" class="btn btn-default" onclick="empty_filters_aa()">Vaciar filtros</button>
						</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="panel-footer">
				<nav aria-label="page navigation">
					<ul id='auxiliosActivosPager' class="pager">
						<li class="previous"><a link='#'>Anterior</a></li>
						<li class="mostrando text-center">Mostrando <span id='AACurrentPageAmount'>0</span> de <span id='AATotalAmount'>0</span> auxilios</li>
						<li class="next"><a link='#'>Siguiente</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-finalizados">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Auxilios finalizados
					</div>
					<div class="col-md-2">
						<button id='refresh_auxilios-finalizados' type="button" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<!-- Table -->
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Nro</th>
						<th>Ingresado</th>
						<th>Finalizado</th>
						<th>Ubicación</th>
						<th>Estado</th>
						<th>Categorización</th>
						<th>Acciones</th>
					</tr>
					<tr class="filter-row">
						<th></th>
						<th>
							<input id='filtro_desde_af' class='form-control filtro' name ='desde' placeholder='Desde' type='text'>
							<input id='filtro_hasta_af' class='form-control filtro' name ='hasta' placeholder='Hasta' type='text'>
						</th>
						<th>
							<input id='filtro_fin_desde_af' class='form-control filtro' name ='fin_desde' placeholder='Desde' type='text'>
							<input id='filtro_fin_hasta_af' class='form-control filtro' name ='fin_hasta' placeholder='Hasta' type='text'>
						</th>
						<th>
							<input id="filtro_ubicacion_af" class="form-control filtro" name="search" placeholder="Filtrar por ubicación" type="text">
						</th>
						<th>
							<select id="filtro_estado_af" class="form-control select filtro" name="estado">
								<option value="" selected="">TODOS</option>
								<option value="3">Cancelado</option>
								<option value="4">Finalizado</option>
							</select>
						</th>
						<th>
							<select id="filtro_categoria_af" class="form-control select filtro" name="categoria">
								<option value="" selected="">TODOS</option>
								{% for categoria in categorias %}
								<option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
								{% endfor %}
							</select>
						</th>
						<th>
							<button id="filter_af" type="button" class="btn btn-warning">Filtrar</button>
							<button type="button" class="btn btn-default" onclick="empty_filters_af()">Vaciar filtros</button>
						</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="panel-footer">
				<nav aria-label="page navigation">
					<ul id='auxiliosFinalizadosPager' class="pager">
						<li class="previous"><a link='#'>Anterior</a></li>
						<li class="mostrando text-center">Mostrando <span id='AFCurrentPageAmount'>0</span> de <span id='AFTotalAmount'>0</span> auxilios</li>
						<li class="next"><a link='#'>Siguiente</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="auxilios-moviles-mapa">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-header">
				<h2 class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						Mapa de móviles
					</div>
					<div class="col-md-2">
						<button type="button" id="refresh_iframe_map" class="btn btn-success">
							Actualizar
						</button>
					</div>
				</h2>
			</div>
			<div class="panel-body form-inline">
				<div class="checkbox-inline">
					<div class="checkbox">
						<label>
							<input id="filtro_moviles_if" type="checkbox" checked="true" name="show-moviles"> Mostrar móviles
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="filtro_auxilios_if" type="checkbox" checked="true" name="show-auxilios"> Mostrar auxilios en curso
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input id="filtro_clusteres_if" type="checkbox" name="show-clusteres"> Agrupar marcadores cercanos
						</label>
					</div>
				</div>
				<iframe id="iframe-mapa-moviles-mapa" width="100%" height="500" frameborder="1" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<div class="modal fade" id="AuxilioDetailModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioDetailModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">Detalle del auxilio #<span id="AuxilioDetailModalLabel"></span></h4>
			</div>
			<div class="modal-body">
				<p><strong>Ingresado: </strong><span id='AuxilioDetailModalIngresado'></span></p>
				<p><strong>Código de suscripción: </strong><span id='AuxilioDetailModalCodSuscripcion'></span></p>
				<p><strong>Número de contacto: </strong><span id='AuxilioDetailModalNroCantacto'></span></p>
				<p><strong>Cantidad de pacientes: </strong><span id='AuxilioDetailModalCantPacientes'></span></p>
				<p><strong>Ubicación: </strong><span id='AuxilioDetailModalUbicacion'></span></p>
				<p><strong>Referencia: </strong><span id='AuxilioDetailModalReferencia'></span></p>
				<p><strong>Motivo: </strong><span id='AuxilioDetailModalMotivo'></span></p>
				<p><strong>Estado actual: </strong><span id='AuxilioDetailModalEstadoActual'></span></p>
				<p><strong>Historial de estados: </strong><span id='AuxilioDetailModalHistorialEstados'></span></p>
				<p><strong>Asignaciones: </strong><span id='AuxilioDetailModalAsignaciones'></span></p>
				<p><strong>Categorización: </strong><span id='AuxilioDetailModalCategorizacion' class='label'></span></p>
				<p><strong>Origen: </strong><span id='AuxilioDetailModalOrigen'></span></p>
				<p><strong>Generador: </strong><span id='AuxilioDetailModalGenerador'></span></p>
				<p><strong>Última actualización: </strong><span id='AuxilioDetailModalUltimaActualizacion'></span></p>
				<p><strong>Observaciones: </strong><span id='AuxilioDetailModalObservaciones'></span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="AuxilioUpdateModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioUpdateModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">Editar auxilio Nro <span id='AuxilioUpdateModalID'></span></h4>
			</div>
			<div class="modal-body">
				<form id="AuxilioUpdateForm" class="form-group" method='PUT' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="submit" form='AuxilioUpdateForm' class="btn btn-success">Editar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="AuxilioDeleteModal" tabindex="-1" role="dialog" aria-labelledby="AuxilioDeleteModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center" id="AuxilioDeleteModalLabel">Cancelar auxilio</h4>
			</div>
			<div class="modal-body text-center">
				<p>¿Está seguro que quiere cancelar el auxilio <strong>#<span id='AuxilioDeleteModalID'></span></strong>?</p>
			</div>
			<div class="modal-footer">
				<form id="AuxilioDeleteForm" class="form-group" method='DELETE' enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success">Aceptar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra-JS %}{{ block.super }}
<!--<script src='{% static "js/USIG-3.1-AutoCompleterFull.min.js" %}' type="text/javascript"></script>-->
<!-- <script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script> -->
<!-- <script src='{% static "js/django-cookie-handler.js" %}' type="text/javascript"></script> -->
<script src='{% static "js/utils.js" %}' type="text/javascript"></script>
<script src='{% static "js/moment-2.18.1.min.js" %}' type="text/javascript"></script>
<script src='{% static "js/bootstrap-datepicker.min.js" %}'></script>
<script src='{% static "js/bootstrap-datepicker.es.min.js" %}'></script>
<script>
	// Set fields layout
	document.getElementById('div_id_contacto').classList.add('col-md-3');
	document.getElementById('div_id_nombre').classList.add('col-md-4');
	document.getElementById('div_id_sexo').classList.add('col-md-1');
	document.getElementById('div_id_cantidad_pacientes').classList.add('col-md-2', 'col-md-offset-2');
	document.getElementById('div_id_ubicacion').classList.add('col-md-8');
	document.getElementById('div_id_ubicacion_especifica').classList.add('col-md-4');
	document.getElementById('div_id_latitud_gps').setAttribute('hidden', 'hidden');
	document.getElementById('div_id_longitud_gps').setAttribute('hidden', 'hidden');
	document.getElementById('div_id_observaciones').classList.add('col-md-12');
	document.getElementById('id_cantidad_pacientes').classList.add('text-center', 'font-bold');
	

	// Add 'Motivo' field
	const div_motivo = document.createElement('div');
	div_motivo.id = 'div_id_motivo';
	div_motivo.classList.add('form-group', 'col-md-8');
	div_motivo.innerHTML = `
		<label class="control-label  requiredField">
			Motivo<span class="asteriskField">*</span>
		</label>
		<div class="controls motivo">
			<div class="list-group"></div>	
		</div>`
	document.getElementById('form-container').insertBefore(div_motivo, document.getElementById('div_id_observaciones'));
	

	// Add 'Motivo resumen' field
	const div_motivo_resumen = document.createElement('div');
	div_motivo_resumen.id = 'div_id_motivo_resumen';
	div_motivo_resumen.classList.add('form-group', 'col-md-4',);
	div_motivo_resumen.innerHTML = `
		<label for="id_motivo_resumen" class="control-label">Motivos seleccionados</label>
		<div class="controls motivo">
			<p id="resumen-empty-msg" class='text-left'>Ningún motivo seleccionado</p>
			<ul class="list-group"></ul>
		</div>`
	document.getElementById('form-container').insertBefore(div_motivo_resumen, document.getElementById('div_id_observaciones'));
	
	
	/*
	 * CONSTANTS
	 */
	const host_url = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}'
	const auxilios_api_url = host_url + '{% url "api:auxilios-list" %}';
	const iframe_url = '/auxilios-moviles-mapa/'
	const vdfda_api_url = host_url + '{% url "rules-api:motivos_ajuste" %}';
	const vdfdpc_api_url = host_url + '{% url "rules-api:motivos_pc" %}';
	const auxiliosActualesRecords = document.querySelector('#auxilios-actuales > div > table > tbody');
	const auxiliosFinalizadosRecords = document.querySelector('#auxilios-finalizados > div > table > tbody');
	const filtro_auxilios_actuales = 'estado=1&estado=2';
	const filtro_auxilios_historicos = 'estado=3&estado=4';
	const WEB_APP_ORIGIN = 1
	const datepicker_options = {
		format: "dd/mm/yyyy",
		language: "es",
		weekStart: "0",
		daysOfWeekHighlighted: "0,6",
		autoclose: true,
		todayHighlight: true,
		clearBtn: true,
		todayBtn: "linked",
		toggleActive: true,
		endDate: "m/d/Y"
	}
	let motivosPC
	let ubicacion_changed = true

	// Pagination
	const page_size = parseInt('{{ page_size }}')
	let aa_current_page = 1
	let af_current_page = 1


	// Initial Google Maps variables
	let mapa;
	let autocomplete;

	// Set datepicker options
	$('#filtro_desde_aa').datepicker(datepicker_options)
	$('#filtro_hasta_aa').datepicker(datepicker_options)
	$('#filtro_desde_af').datepicker(datepicker_options)
	$('#filtro_hasta_af').datepicker(datepicker_options)
	$('#filtro_fin_desde_af').datepicker(datepicker_options)
	$('#filtro_fin_hasta_af').datepicker(datepicker_options)

	// Initial JSON data Retrieve
	loadFormattedValoresDeFactores(div_motivo.querySelector(".controls > .list-group"), vdfdpc_api_url, vdfda_api_url);
	
	// Refresh buttons
	document.getElementById('refresh_aa').onclick = event => {
		empty_filters_aa()
		loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url, filtro_auxilios_actuales);
	}
	document.getElementById('refresh_auxilios-finalizados').onclick = event => {
		empty_filters_af()
		loadAuxiliosHistoricos(auxiliosFinalizadosRecords, auxilios_api_url, filtro_auxilios_historicos);
	}
	document.getElementById('refresh_iframe_map').onclick = event => {
		redirectMapaMovilesMapa()
	}

	// Filter buttons
	document.getElementById('filter_aa').onclick = event => {
		const filtro_desde = document.getElementById('filtro_desde_aa')
		const filtro_hasta = document.getElementById('filtro_hasta_aa')
		const filtro_ubicacion = document.getElementById('filtro_ubicacion_aa')
		const filtro_estado = document.getElementById('filtro_estado_aa')
		const filtro_categoria = document.getElementById('filtro_categoria_aa')
		let filtros = ''

		if(filtro_desde.value)
			filtros += `${filtro_desde.name}=${filtro_desde.value.replace(/\//g, '-')}`
		if(filtro_hasta.value)
			filtros += `&${filtro_hasta.name}=${filtro_hasta.value.replace(/\//g, '-')}`
		if(filtro_ubicacion.value.trim())
			filtros += `&${filtro_ubicacion.name}=${filtro_ubicacion.value}`
		if(filtro_estado.value){
			filtros += `&${filtro_estado.name}=${filtro_estado.value}`
		} else {
			filtros += `&${filtro_auxilios_actuales}`
		}
		if(filtro_categoria.value)
			filtros += `&${filtro_categoria.name}=${filtro_categoria.value}`

		loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url, filtros)
	}
	document.getElementById('filter_af').onclick = event => {
		const filtro_desde = document.getElementById('filtro_desde_af')
		const filtro_hasta = document.getElementById('filtro_hasta_af')
		const filtro_fin_desde = document.getElementById('filtro_fin_desde_af')
		const filtro_fin_hasta = document.getElementById('filtro_fin_hasta_af')
		const filtro_ubicacion = document.getElementById('filtro_ubicacion_af')
		const filtro_estado = document.getElementById('filtro_estado_af')
		const filtro_categoria = document.getElementById('filtro_categoria_af')
		let filtros = ''

		if(filtro_desde.value)
			filtros += `${filtro_desde.name}=${filtro_desde.value.replace(/\//g, '-')}`
		if(filtro_hasta.value)
			filtros += `&${filtro_hasta.name}=${filtro_hasta.value.replace(/\//g, '-')}`
		if(filtro_fin_desde.value)
			filtros += `&${filtro_fin_desde.name}=${filtro_fin_desde.value.replace(/\//g, '-')}`
		if(filtro_fin_hasta.value)
			filtros += `&${filtro_fin_hasta.name}=${filtro_fin_hasta.value.replace(/\//g, '-')}`
		if(filtro_ubicacion.value.trim())
			filtros += `&${filtro_ubicacion.name}=${filtro_ubicacion.value}`
		if(filtro_estado.value){
			filtros += `&${filtro_estado.name}=${filtro_estado.value}`
		} else {
			filtros += `&${filtro_auxilios_historicos}`
		}
		if(filtro_categoria.value)
			filtros += `&${filtro_categoria.name}=${filtro_categoria.value}`

		loadAuxiliosHistoricos(auxiliosFinalizadosRecords, auxilios_api_url, filtros)
	}

	// AuxiliosActualesTab y AuxiliosFinalizadosTab se actualizan al mostrarse
	$('.nav-tabs a[href="#auxilios-actuales"]').on('show.bs.tab', event => {
		loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url, filtro_auxilios_actuales);
	});
	$('.nav-tabs a[href="#auxilios-finalizados"]').on('show.bs.tab', event => {
		loadAuxiliosHistoricos(auxiliosFinalizadosRecords, auxilios_api_url, filtro_auxilios_historicos);
	});
	$('.nav-tabs a[href="#auxilios-moviles-mapa"]').on('show.bs.tab', event => {
		redirectMapaMovilesMapa()
	});
	// ----------------------------------------------------------------------------------------


	function loadFormattedValoresDeFactores(dest, ...apiURLs) {
		let flag = true
		dest.innerHTML = `<div class="list-group text-center">
							<img class="loading row" alt="loading..." border="0" src='{% static "img/Infinity.gif" %}'>
						</div>`

		Promise
			.all(apiURLs.map(url =>
				fetch(url, getAuthorizedFetchOption())
				.then(response => checkStatus(response))
				.then(response => response.json())
			)).then(all_json => {
				dest.innerHTML = ''
				all_json.forEach(jsonData => {
					const factores = Object.keys(jsonData.results)
					let motivo_content = ''

					if(factores) {
						if(flag) { // array de motivos de precategorización
							motivosPC = factores
							flag = false
							motivo_content += `<div class="list-group"> <strong> Motivos de precategorización </strong>`;	
						} else {
							motivo_content += `<div class="list-group"> <strong> Motivos de ajuste </strong>`;
						}
						factores.sort().map((factor) => {
							motivo_content += `<a class="list-group-item"><strong class="list-group-item-heading">${factor}</strong>`
							let radios = '<p class="list-group-item-text">'
							jsonData.results[factor].map((valor) => {
								radios += `<input class="factor_valor" form="none" onclick="updateResumen(this)" type="radio" name="${factor}" value="${valor}"/> ${valor}`
							});
							radios += `<input class="factor_valor" form="none" onclick="updateResumen(this)" type="radio" name="${factor}" value="Sin información" checked/> Sin información`
							motivo_content += `${radios}</p></a>`
						})
						motivo_content += `<div>`;
					}
		
					dest.innerHTML += motivo_content
			})}).catch(error => {
				console.log(`Error al realizar fetch a ${apiURLs}: ${error.message}`)
				dest.innerHTML = `<div class="list-group text-center">Ocurrió un error al cargar los motivos.</div>`
			})
	}


	function loadAuxiliosActuales(dest, apiURL, filter='') {
		let url = new URL(apiURL)
		if(!url.searchParams.get('page_size')){
			url = apiURL + `?page_size=${page_size}&${filter}`
		}
		dest.innerHTML = `<tr><td class="text-center" colspan="6">
								<img class="loading row" alt="loading..." border="0" src='{% static "img/Infinity.gif" %}'>
						</td></tr>`

		fetch(url, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			dest.innerHTML = '';
			jsonData.results.map((aux) => {
				let newRow = dest.insertRow(dest.rows.length);
				const date = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDetailModal" title='Detalle'>
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>
					<!--<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioUpdateModal" title='Modificar auxilio'>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button> -->
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDeleteModal" title='Cancelar auxilio'>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>`
				newRow.innerHTML = `<td>${aux.id}</td>
									<td>${date}</td>
									<td>${aux.solicitud.ubicacion}</td>
									<td>${aux.estados[0].estado}</td>
									<td>
										<span class='label' style='background-color:${aux.categoria.color}'>
											${aux.categoria.descripcion}
										</span>
										<span class='badge prioridad'>
											${aux.prioridad}
										</span>
									</td>
									<td>${acciones}</td>`;
			});
			setPaginationAAInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count);
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`)
			dest.innerHTML = `<tr><td class="text-center" colspan="6">Ocurrió un error al cargar los auxilios.</td></tr>`
		});
	};


	function loadAuxiliosHistoricos(dest, apiURL, filter) {
		let url = new URL(apiURL)
		if(!url.searchParams.get('page_size')){
			url = apiURL + `?page_size=${page_size}&${filter}&ordering=-estados`
		}
		dest.innerHTML = `<tr><td class="text-center" colspan="7">
								<img class="loading row" alt="loading..." border="0" src='{% static "img/Infinity.gif" %}'>
						</td></tr>`
		
		fetch(url, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			dest.innerHTML = ''
			jsonData.results.map((aux) => {
				let newRow = dest.insertRow(dest.rows.length);
				const inicial = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
				// const final = moment(aux.solicitud.fecha).format('DD/MM/YY HH:mm:ss'); /* TODO: cambiar a FINAL */
				const final = moment(aux.estados[0].fecha).format('DD/MM/YY HH:mm:ss');
				const acciones = `
					<button type="button" class="btn btn-transparent btn-xs" data-toggle="modal" data-target="#AuxilioDetailModal" title='Detalle'>
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
					</button>`;				
				newRow.innerHTML = `<td>${aux.id}</td>
									<td>${inicial}</td>
									<td>${final}</td>
									<td>${aux.solicitud.ubicacion}</td>
									<td>${aux.estados[0].estado}</td>
									<td>
										<span class='label' style='background-color:${aux.categoria.color}'>
											${aux.categoria.descripcion}
										</span>
										<span class='badge prioridad'>
											${aux.prioridad}
										</span>
									</td>
									<td>${acciones}</td>`;
			});
			setPaginationAFInfo(jsonData.previous, jsonData.next, jsonData.results.length, jsonData.count);
		}).catch(error => {
			console.log(`Error al realizar fetch a ${apiURL}: ${error.message}`)
			dest.innerHTML = `<tr><td class="text-center" colspan="7">Ocurrió un error al cargar los auxilios.</td></tr>`
		});
	};


	function empty_filters_aa(){
		document.getElementById('filtro_desde_aa').value = ''
		document.getElementById('filtro_hasta_aa').value = ''
		document.getElementById('filtro_ubicacion_aa').value = ''
		document.getElementById('filtro_estado_aa').value = ''
		document.getElementById('filtro_categoria_aa').value = ''
	}
	function empty_filters_af(){
		document.getElementById('filtro_desde_af').value = ''
		document.getElementById('filtro_hasta_af').value = ''
		document.getElementById('filtro_fin_desde_af').value = ''
		document.getElementById('filtro_fin_hasta_af').value = ''
		document.getElementById('filtro_ubicacion_af').value = ''
		document.getElementById('filtro_estado_af').value = ''
		document.getElementById('filtro_categoria_af').value = ''
	}


	function redirectMapaMovilesMapa(){
		const filter_auxilio = document.getElementById('filtro_auxilios_if')
		const filter_moviles = document.getElementById('filtro_moviles_if')
		const filter_cluster = document.getElementById('filtro_clusteres_if')
		let filtro = ''
		
		if(filter_auxilio.checked)
			filtro += 'mostrar=auxilios'
		if(filter_moviles.checked)
			filtro += '&mostrar=moviles'
		if(filter_cluster.checked)
			filtro += '&mostrar=clusteres'
		
		document.getElementById('iframe-mapa-moviles-mapa').src = iframe_url + '?' + filtro;
	}


	function setPaginationAAInfo(previous, next, currentAmount, totalAmount) {
		const start = totalAmount !== 0 ? ((aa_current_page - 1) * page_size) + 1 : 0
		const end = totalAmount !== 0 ? start + currentAmount - 1 : 0
		document.getElementById('AACurrentPageAmount').innerText = 
			`${start} - ${end}`;
		document.getElementById('AATotalAmount').innerText = totalAmount;

		if(previous === null)
			document.querySelector('#auxiliosActivosPager > .previous').classList.add('disabled');
		else {
			document.querySelector('#auxiliosActivosPager > .previous').classList.remove('disabled');
			document.querySelector('#auxiliosActivosPager > .previous > a').link = previous;
		}			
		if(next === null)
			document.querySelector('#auxiliosActivosPager > .next').classList.add('disabled');
		else {
			document.querySelector('#auxiliosActivosPager > .next').classList.remove('disabled');
			document.querySelector('#auxiliosActivosPager > .next > a').link = next;
		}
	}

	document.querySelector('#auxiliosActivosPager > .previous').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosActuales(auxiliosActualesRecords, clickedButton.link)
		aa_current_page -= 1
	};
	document.querySelector('#auxiliosActivosPager > .next').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosActuales(auxiliosActualesRecords, clickedButton.link)
		aa_current_page += 1
	};


	function setPaginationAFInfo(previous, next, currentAmount, totalAmount) {
		const start = totalAmount !== 0 ? ((af_current_page - 1) * page_size) + 1 : 0
		const end = totalAmount !== 0 ? start + currentAmount - 1 : 0
		document.getElementById('AFCurrentPageAmount').innerText = 
			`${start} - ${end}`;
		document.getElementById('AFTotalAmount').innerText = totalAmount;

		if(previous === null)
			document.querySelector('#auxiliosFinalizadosPager > .previous').classList.add('disabled');
		else {
			document.querySelector('#auxiliosFinalizadosPager > .previous').classList.remove('disabled');
			document.querySelector('#auxiliosFinalizadosPager > .previous > a').link = previous;
		}			
		if(next === null)
			document.querySelector('#auxiliosFinalizadosPager > .next').classList.add('disabled');
		else {
			document.querySelector('#auxiliosFinalizadosPager > .next').classList.remove('disabled');
			document.querySelector('#auxiliosFinalizadosPager > .next > a').link = next;
		}
	}
	
	document.querySelector('#auxiliosFinalizadosPager > .previous').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosHistoricos(auxiliosFinalizadosRecords, clickedButton.link)
		af_current_page -= 1
	};
	document.querySelector('#auxiliosFinalizadosPager > .next').onclick = function getPageRecords(event) {
		const clickedButton = event.target;
		if(!clickedButton.parentElement.classList.contains('disabled'))
			loadAuxiliosHistoricos(auxiliosFinalizadosRecords, clickedButton.link)
		af_current_page += 1
	};


	function crearBotonConValor(factor, valor, is_checked, style) {
		if(is_checked)
			return `<input form="none" onclick="updateResumen(this)" style="${style}" type="radio" name="${factor}" value="${valor}" checked />${valor}`;
		else
			return `<input form="none" onclick="updateResumen(this)" style="${style}" type="radio" name="${factor}" value="${valor}"/>${valor}`;
	};


	/*
	 * AuxilioDetailModal Handler
	 */
	$('#AuxilioDetailModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const auxilioID = button.closest('tr').find('td:eq(0)').text();
		emptyAuxilioDetailModal();

		fetch(`${auxilios_api_url}${auxilioID}`, getAuthorizedFetchOption()).then(response => {
			return checkStatus(response);
		}).then(response => {
			return response.json();
		}).then(jsonData => {
			document.getElementById('AuxilioDetailModalIngresado').innerText = moment(jsonData.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
			document.getElementById('AuxilioDetailModalCodSuscripcion').innerText = jsonData.codigo_suscripcion;
			document.getElementById('AuxilioDetailModalNroCantacto').innerText = jsonData.solicitud.contacto !== '' ? jsonData.solicitud.contacto : 'No especifica';
			document.getElementById('AuxilioDetailModalCantPacientes').innerText = jsonData.solicitud.cantidad_pacientes;
			document.getElementById('AuxilioDetailModalUbicacion').innerHTML = getMapaUbicacion(jsonData.solicitud.ubicacion);
			marcarUbicacionEnMapa(jsonData.solicitud.latitud_gps, jsonData.solicitud.longitud_gps, jsonData.solicitud.ubicacion);
			document.getElementById('AuxilioDetailModalReferencia').innerText = jsonData.solicitud.ubicacion_especifica !== '' ? jsonData.solicitud.ubicacion_especifica : 'No especifica';			
			document.getElementById('AuxilioDetailModalMotivo').innerHTML = getMotivoFromJSON(jsonData.solicitud.motivo);
			document.getElementById('AuxilioDetailModalEstadoActual').innerText = jsonData.estados[0].estado;
			document.getElementById('AuxilioDetailModalHistorialEstados').innerHTML = getHistorialEstadosFromJSON(jsonData.estados);
			const categoria = document.getElementById('AuxilioDetailModalCategorizacion');
			categoria.innerText = jsonData.categoria.descripcion;
			categoria.style.backgroundColor = jsonData.categoria.color;
			document.getElementById('AuxilioDetailModalAsignaciones').innerHTML = getAsignacionFromJSON(jsonData.asignaciones);
			document.getElementById('AuxilioDetailModalUltimaActualizacion').innerText = moment(jsonData.solicitud.fecha).format('DD/MM/YY HH:mm:ss');
			document.getElementById('AuxilioDetailModalOrigen').innerText = jsonData.solicitud.origen;
			document.getElementById('AuxilioDetailModalGenerador').innerText = jsonData.solicitud.generador || 'Desconocido';
			document.getElementById('AuxilioDetailModalObservaciones').innerText = jsonData.solicitud.observaciones !== '' ? jsonData.solicitud.observaciones : 'Sin observaciones';
		}).catch(error => {
			console.log(`Error al realizar fetch de detalle del auxilio #${auxilioID}: ${error.message}`);
		});

		document.getElementById('AuxilioDetailModalLabel').innerText = `${auxilioID}`;
	});

	function emptyAuxilioDetailModal() {
		document.getElementById('AuxilioDetailModalLabel').innerText = ''
		document.getElementById('AuxilioDetailModalIngresado').innerText = ''
		document.getElementById('AuxilioDetailModalCodSuscripcion').innerText = ''
		document.getElementById('AuxilioDetailModalNroCantacto').innerText = ''
		document.getElementById('AuxilioDetailModalCantPacientes').innerText = ''
		document.getElementById('AuxilioDetailModalUbicacion').innerText = ''
		document.getElementById('AuxilioDetailModalReferencia').innerText = ''
		document.getElementById('AuxilioDetailModalMotivo').innerText = ''
		document.getElementById('AuxilioDetailModalEstadoActual').innerText = ''
		document.getElementById('AuxilioDetailModalHistorialEstados').innerText = ''
		document.getElementById('AuxilioDetailModalCategorizacion').innerText = ''
		document.getElementById('AuxilioDetailModalOrigen').innerText = ''
		document.getElementById('AuxilioDetailModalGenerador').innerText = ''
		document.getElementById('AuxilioDetailModalUltimaActualizacion').innerText = ''
		document.getElementById('AuxilioDetailModalObservaciones').innerText = ''
	}

	$("#AuxilioDetailModal").on("shown.bs.modal", function () {
		google.maps.event.trigger(mapa, "resize")
	})

	function getMapaUbicacion(ubicacion){
		return `<a data-toggle="collapse" href="#collapse_ubicacion">
					<span class="glyphicon glyphicon-plus"></span> ${ubicacion}
				</a>
				<div id="collapse_ubicacion" class="panel-collapse collapse in">
					<div id="mapa" class="mapa-detail-auxilio"></div>
				</div>`
	}

	function marcarUbicacionEnMapa(latitud, longitud, direccion) {
		const pos = new google.maps.LatLng(latitud, longitud)
		mapa = new google.maps.Map(document.getElementById('mapa'), {
			center: pos,
			zoom: 15
		})
		const marker = new google.maps.Marker({
			animation: google.maps.Animation.DROP,
			map: mapa,
			position: pos,
			title: direccion
		})
	}

	/*
	 * AuxilioDeleteModal Handler
	 */
	$('#AuxilioDeleteModal').on('show.bs.modal', (event) => {
		const button = $(event.relatedTarget);
		const auxilioID = button.closest('tr').find('td:eq(0)').text();
		document.getElementById('AuxilioDeleteModalID').innerText = auxilioID;
	});

	function getMotivoFromJSON(motivoJSON){
		let resultado = `<a data-toggle="collapse" href="#collapse_motivos">
						   <span class="glyphicon glyphicon-plus"></span> Desplegar motivos
						 </a>
						 <div id="collapse_motivos" class="panel-collapse collapse">
						   <ul class="list-group">`
		const motivo = JSON.parse(motivoJSON);
		for(const factor in motivo){
			resultado += `<li class="list-group-item"><strong>${factor}: </strong>${motivo[factor]}</li>`;
		}
		resultado += '</ul></div>';
		return resultado;
	};

	function getHistorialEstadosFromJSON(estadosJSON){
		let resultado = `<a data-toggle="collapse" href="#collapse_historico_estados">
							<span class="glyphicon glyphicon-plus"></span> Desplegar estados
						 </a>
						 <div id="collapse_historico_estados" class="panel-collapse collapse">
							<ul class="list-group">`
		estadosJSON.forEach(registro => {
			resultado += `	<li class="list-group-item">
								<span>
									<strong>Fecha: </strong>${moment(registro.fecha).format('DD/MM/YY HH:mm:ss')}
								</span>
								<span class='pull-right'>
									<strong>Estado: </strong>${registro.estado}
								</span>
							</li>`
		});
		resultado += '</ul></div>';
		return resultado;
	};

	// $('.collapse').on('shown.bs.collapse', event => {
	// 	$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
	// }).on('hidden.bs.collapse', event => {
	// 	$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
	// });

	// $('.panel-collapse').on('shown.bs.collapse', function () {
    // 	$(this).prev().find(".glyphicon").removeClass("glyphicon-chevron-plus").addClass("glyphicon-chevron-minus");
	// });

	// $('#collapse_asignaciones .panel-collapse').on('shown.bs.collapse', function () {
    // 	$(this).prev().find(".glyphicon").removeClass("glyphicon-chevron-minus").addClass("glyphicon-chevron-plus");
	// });

	// $('.panel-collapse.collapse').on('shown.bs.collapse', event => {
	// 	$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
	// }).on('hidden.bs.collapse', event => {
	// 	$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
	// });
	
	// $('#collapse_asignaciones').on('shown.bs.collapse', function () {
	// 	$(".glyphicon")
	// 		.removeClass("glyphicon-plus")
	// 		.addClass("glyphicon-minus");
	// });

	// $('#collapse_asignaciones').on('hidden.bs.collapse', function () {
	// 	$(".glyphicon")
	// 	.removeClass("glyphicon-minus")
	// 	.addClass("glyphicon-plus");
	// });

	// TODO: Hacer funcionar el cambio de icono entre el + y el - al hacer clic.
	$(document).ready(function () {
     $('.collapse')
         .on('shown.bs.collapse', function() {
             $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
             })
         .on('hidden.bs.collapse', function() {
             $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
		});
	});

	function getAsignacionFromJSON(asignacionJSON){
		let resultado = `<a data-toggle="collapse" href="#collapse_asignaciones">
							<span class="glyphicon glyphicon-plus"></span>Desplegar asignaciones
						</a>
						<div id="collapse_asignaciones" class="panel-collapse collapse">`
		for(const asignacion in asignacionJSON){
			resultado += `	<ul class="list-group">
								<li class="list-group-item"><strong>Médico asignado: </strong>${asignacionJSON[asignacion].medico || 'Sin asignación'}</li>
								<li class="list-group-item"><strong>Estado: </strong>${asignacionJSON[asignacion].estado}</li>
								<li class="list-group-item"><strong>Última actualización: </strong>${moment(asignacionJSON[asignacion].modificada).format('DD/MM/YY HH:mm:ss')}</li>`;
			if (asignacionJSON[asignacion].formulariofinalizacion) {
				resultado += `	<li class="list-group-item"><strong>Formulario de finalización: </strong>
									${asignacionJSON[asignacion].formulariofinalizacion.asignacion} 
									<a data-toggle="collapse" href="#collapse_form${asignacionJSON[asignacion].formulariofinalizacion.asignacion}">Ver formulario</a>
								</li>
								<div id="collapse_form${asignacionJSON[asignacion].formulariofinalizacion.asignacion}" class="panel-collapse collapse">
									<ul class="list-group">`;
				if (asignacionJSON[asignacion].formulariofinalizacion.asistencia_realizada) {
					resultado += `		<li class="list-group-item"><strong>La asistencia fue realizada</strong></li>
										<li class="list-group-item"><strong>Opinión sobre la categorización: </strong>${asignacionJSON[asignacion].formulariofinalizacion.categorizacion || 'No informado'}</li>
										<li class="list-group-item"><strong>Observaciones: </strong>${asignacionJSON[asignacion].formulariofinalizacion.observaciones || 'Ninguna'}</li>
										<ul class="list-group"><strong>Pacientes: </strong>`;
					if (asignacionJSON[asignacion].formulariofinalizacion.pacientes) {
						for (const paciente in asignacionJSON[asignacion].formulariofinalizacion.pacientes) {
							resultado += `
											<li class="list-group-item"><strong>DNI: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].dni || 'No registrado'}</li>
											<li class="list-group-item"><strong>Apellido: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].apellido || 'No registrado'}</li>
											<li class="list-group-item"><strong>Nombre: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].nombre || 'No registrado'}</li>
											<li class="list-group-item"><strong>Edad: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].edad || 'No registrada'}</li>
											<li class="list-group-item"><strong>Teléfono: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].telefono || 'No registrado'}</li>
											<li class="list-group-item"><strong>Diagnóstico: </strong>${asignacionJSON[asignacion]		.formulariofinalizacion.pacientes[paciente].diagnostico || 'No registrado'}</li>`;
							if (asignacionJSON[asignacion].formulariofinalizacion.pacientes[paciente].trasladado) {
								resultado += `<li class="list-group-item"><strong>El paciente fue trasladado.</strong></li>`;
							} else {
								resultado += `<li class="list-group-item"><strong>El paciente NO fue trasladado.</strong></li>`;
							}
						}
					} else {
						resultado += 'Ningún paciente registrado';
					}										
					resultado += `</ul>`;
				} else {
					resultado += `		<li class="list-group-item"><strong>La asistencia NO fue realizada</strong></li>
										<li class="list-group-item"><strong>Motivo de inasistencia: </strong>${asignacionJSON[asignacion].formulariofinalizacion.motivo_inasistencia || 'No informado'}</li>
										<li class="list-group-item"><strong>Observaciones: </strong>${asignacionJSON[asignacion].formulariofinalizacion.observaciones || 'Ninguna'}</li>`;
				}
				resultado += '</ul></div>';
			}
		}
		resultado += '</ul></div>';
		return resultado;	
	};

	function initGoogleMaps() {
		initAutocomplete()
	};

	async function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('id_ubicacion'), { types: ['geocode'] }
		);
		autocomplete.addListener('place_changed', completarDireccion);
	};

	document.getElementById('id_ubicacion').onchange = function() {
		ubicacion_changed = true
	}

	function completarDireccion() {
		ubicacion_changed = false
		const place = autocomplete.getPlace();
		document.getElementById('id_latitud_gps').value = place.geometry.location.lat();
		document.getElementById('id_longitud_gps').value = place.geometry.location.lng();
	};


	function updateResumen(radioClicked) {
		const resumen_ul = document.querySelector('#div_id_motivo_resumen > div > ul');
		let li = resumen_ul.querySelector(`[data-factor="${radioClicked.name}"]`);
		const ul_empty_msg = document.getElementById('resumen-empty-msg');
		
		if(li) { // Si existe un elemento del mismo factor
			if(radioClicked.value === "Sin información") {
				li.remove();
				if(resumen_ul.childElementCount === 0) {
					ul_empty_msg.style.display = 'block';
				}
			} else {
				li.querySelector('.value').innerHTML = radioClicked.value;
			}
		} else { // Si no existe, creo un nuevo elemento
			if(ul_empty_msg.style.display !== 'none') {
				ul_empty_msg.style.display = 'none';
			}
			li = document.createElement('li');
			li.classList.add('list-group-item');
			li.setAttribute('data-factor', radioClicked.name);
			li.innerHTML = `<span class="factor"><strong>${radioClicked.name}:</strong></span>
							<span class="value"> ${radioClicked.value}</span>
							<button type="button" class="close" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>`;
			li.querySelector('button').onclick = (event) => { event.stopPropagation(); removeLi(resumen_ul, li, ul_empty_msg)};
			resumen_ul.appendChild(li);
		}
	}
	

	function removeLi(ul_container, li, empty_msg) {
		const name = li.getAttribute('data-factor');
		document.querySelector(`input[name="${name}"][value="Sin información"]`).checked = true;
		li.remove();
		if(ul_container.childElementCount === 0)
			empty_msg.style.display = 'block';
	};


	function empty_all() {
		document.querySelector('#div_id_motivo_resumen > div > ul').innerHTML = ''; // Vaciado de resumen de motivo
		document.getElementById('resumen-empty-msg').style.display = 'block'; // Mostrar mensaje de resumen vacio
		document.querySelectorAll('[form="none"]').forEach(radio => { // Marcado de "Sin información" para todos los radioButton
			if(radio.value === "Sin información") {
				radio.checked = true;
			}
		});
	};


	function isStreetAddress(placeType) {
		return placeType === 'street_address';
	}


	document.getElementById('SolicitudForm').onsubmit = function sendSolicitud(event) {
		document.querySelector('.messages').innerHTML = '';

		if(ubicacion_changed || typeof autocomplete.getPlace() === 'undefined' || !autocomplete.getPlace().types.find(isStreetAddress)){
			document.getElementById('id_latitud_gps').value = '';
			document.getElementById('id_longitud_gps').value = '';
			mensaje = ''
			if(ubicacion_changed) {
				mensaje = `
				<div class="alert alert-dismissable fade in alert-danger">Las coordenadas obtenidas no coinciden con la dirección ingresada. Por favor, reingrese la dirección y seleccione una opción del menú desplegable.
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
			} else {
				mensaje = `
				<div class="alert alert-dismissable fade in alert-danger">No es posible extraer coordenadas GPS de la dirección ingresada. Por favor, reingrese la dirección y seleccione una opción del menú desplegable.
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
			}
			document.querySelector('.messages').innerHTML = mensaje
			event.preventDefault();
			window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
			return;
		}
		
		const header_init = {
			'Accept': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		let formData = new FormData(document.getElementById('SolicitudForm'));

		// Completado de MOTIVO en JSON
		const resumen_list = document.querySelector('#div_id_motivo_resumen > div > ul');
		let motivoPC_completado = false;
		if(resumen_list.childElementCount !== 0) {
			let motivo_obj = {};
			document.querySelector('#div_id_motivo_resumen > div > ul').childNodes.forEach(node => {
				const factor = node.querySelector('.factor > strong').innerText.replace(':', '');
				const valor = node.querySelector('.value').innerText;
				motivo_obj[factor] = valor;
				if(motivosPC.includes(factor))
					motivoPC_completado = true
			});
			formData.append('motivo', JSON.stringify(motivo_obj));
			formData.append('origen', WEB_APP_ORIGIN);
		}
		if(!motivoPC_completado){
			document.querySelector('.messages').innerHTML = `
			<div class="alert alert-dismissable fade in alert-danger">Debe seleccionar al menos un motivo de precategorización
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			</div>`;
			event.preventDefault();
			window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
			return;
		}

		let fetchOptions = {
			method: 'POST',
			headers: new Headers(header_init),
			body: formData,
			credentials: 'same-origin'
		};

		fetch(auxilios_api_url, fetchOptions).then(response => {
			response.json().then(jsonData => {
				if(response.ok) {
					// Mostrar mensaje de éxito
					document.querySelector('.messages').innerHTML = `
					<div class="alert alert-dismissable fade in alert-success">Se registró el <strong>Auxilio #${jsonData.id}</strong> con <strong>código de suscripción: ${jsonData.codigo_suscripcion}</strong>
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					</div>`;

					// Empty Solicitud form
					document.getElementById('SolicitudForm').reset();

					empty_all(); // Vaciar formulario

					// Switch to auxilios-actuales tab
					$('.nav-tabs a[href="#auxilios-actuales"]').tab('show');
				} else {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						const message = (key === 'non_field_errors') ? jsonData[key] : `${key}: ${jsonData[key]}`
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${message}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`
					});
				}
			});
		});
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};


	document.getElementById('AuxilioDeleteForm').onsubmit = function deleteAuxilio(event) {
		document.querySelector('.messages').innerHTML = '';

		const header_init = {
			'Accept': 'application/json',
			'Content-Type': 'application/json',
			'X-CSRFToken': getCookie("csrftoken")
		}

		const fetchOptions = {
			method: 'PUT',
			headers: new Headers(header_init),
			credentials: 'same-origin',
			body: JSON.stringify({'estados': [{'estado': '3'}]})
		};
		
		const auxilioID = document.getElementById('AuxilioDeleteModalID').innerText;
		const url = `${auxilios_api_url}${auxilioID}/estadoUpdate/`;

		fetch(url, fetchOptions).then(response => {
			if(response.ok) {
				// Mostrar mensaje de éxito
				document.querySelector('.messages').innerHTML = `
				<div class="alert alert-dismissable fade in alert-success">El auxilio #${auxilioID} fue cancelado
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>`;
				loadAuxiliosActuales(auxiliosActualesRecords, auxilios_api_url, filtro_auxilios_actuales);
			} else {
				response.json()
				.then(jsonData => {
					Object.keys(jsonData).map(key => {
						// Mostrar mensaje de error
						document.querySelector('.messages').innerHTML += `
						<div class="alert alert-dismissable fade in alert-danger">${jsonData[key]}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>`;
					});
				});
			}
		});
		$('#AuxilioDeleteModal').modal('hide');
		event.preventDefault(); // Evita el envío POST del botón
		window.scrollTo(0,0); // Scroll a la parte superior de la pantalla
	};
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVbsfkt6Rl3hIn7p8Dt6JhaKSz5GjfDCw&language=es&region=AR&libraries=places&callback=initGoogleMaps"></script>
{% endblock extra-JS %}